hearder{

text-align:left;
font-size : 15pt;
}

h2 {
font-size: 15px;
text-align:left;
}


/*버튼 구현*/

.button-1{
  width:80px;
  height:30px;
  top:15%;
  left: 12%;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  head_sele-sizing:border-head_sele;
  overflow:hidden;
  margin:0 0 40px 0;
}
.button-1 a{
  font-family:arial;
  font-size:10px;
  top:-10px;
  color:#34495e;
  text-decoration:none;
  text-align:center;
  line-height:50px;
  transition:all .5s ease;
  position:relative;
}
.eff-1{
  width:120px;
  height:50px;
  top:-2px;
  right:-140px;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-1:hover .eff-1{
  right:0;
}
.button-1:hover a{
  font-color:white;
}




/* select bodx*/
.head_sele {
  position: absolute;
  top:14%;
  left: 14%;
  transform: translate(-50%, -50%);
}

.head_sele select {
  background-color:#fff;
  color: bla;
  padding: 12px;
  width: 160px;
  height: 40px;
  border: none;
   font-size:10px;

  head_sele-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}


.head_sele:hover::before {
  color: #34495e;
  background-color: #34495e;
}

.head_sele select option {
  padding: 30px;
    font-size:10px;
  
}