body {
	overflow-x:hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}


/* 추가 css 영역 */
.content{
	vertical-align: top;
	text-align: left;
	
	padding: 3rem;
	
	text-align: center;
}

a{
	text-decoration: none;
	color: inherit;
}

.detailTable{
	padding: 2rem;
	width: 100%;
	
	text-align: left;
}

.detailTable td{
	height:2rem;
	padding:10px;
	padding-left: 2rem;
	vertical-align: middle;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.detailTable td:first-child{
	width:20%;

}

.detailTable img{
	width: 100px;
	height: 100px;
	background: red;
}

td > textarea{
	width:80%;
	height: 100px;
	overflow: auto;
	resize: none;
}

td > textarea:focus,
td > input:focus{
	outline:none;
}

input, textarea{
	font-size: small;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
}