html, body {
	margin: none;
	border: none;
	padding: none;
	width: 100%;
	height: 100%;

}

.sch-wrap {
	margin-top: -10px;
	border: none;
	padding: none;
	width: 100%;
	height: 100%;
		
}

.sch-topMenu {
	width: 100%;
	height: 7.3%;
}


.sch-container {
	width: 100%;
	height: 89%;
	
}

.sch-navLeft {
	float: left;
	width:180px;
	HEIGHT:100%;
	background-color: orange !important;
}


.sch-content {
	FLOAT:LEFT;
	width: 85%;
	HEIGHT:100%;
	padding : 10px;
	overflow: auto;
}



