html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.sch-wrap {
	width: 100%;
	height: 100%;
}

.sch-topMenu {
	width: 100%;
	height: 7.8%;
	
}
.sch-container {
	width: 100%;
	height: 90%;
}

.sch-navLeft {
	float: left;
	width:13%;
	HEIGHT:100%;
}

.sch-content {
	FLOAT:LEFT;
	width: 85%;
	HEIGHT:100%;
	padding : 10px;
	overflow: auto;
}


