<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<!-- 
	Log4J 설정파일
	
	1. Log4J는 출력 메세지를 체계적으로 관리한다
	- TRACE : 직접 작성 불가. 프로그램 내에서 발생하는 사소한 작업들에 대한 기록
	- DEBUG : 개발자가 개발 당시 필요에 의해서 확인하는 부분에 대한 기록
	- INFO  : 사용자에게 알려줄 정보를 기록하는 용도
	- WARN  : 예외는 발생하지 않지만 지속될 경우 문제가 생기는 경우를 기록하는 용도 (ex: 메모리 누수)
	- ERROR : 프로그램 실행 중에 예외로 인해 중단된 경우를 기록하는 용도(ex: Exception)
	- FATAL : 직접 작성 불가. 시스템에 치명적인 오류를 기록하는 용도
 
 	2.
 	- <logger>와 <root>에 보고 싶은 메세지의 심각도를 명시할 수 있다
 	- ex : info로 설정하면 info와 info보다 심각한 메세지가 나온다()
 	- <appender>에는 출력 위치를 지정할 수 있다
 	
 	3. 주요 형식
 	- %p : priority. 메세지 수준을 표시할 자리
 	- %c : category. 로그 출력을 실행한 대상의 위치정보를 출력할 자리
 	- %m : message. 실제 출력 메세지
 	- %n : new-line. 개행 문자(\n). N터
 	- %d : date. 날짜를 출력할 자리
 	
 	4.Appender 종류
 	- ConsoleAppender : 콘솔 출력 도구
 	- FileAppender : 파일 출력 도구 (xml, txt, ...)
	- DailyRollingAppender : 날짜별로 용량을 지정해서 출력하는 도구
 -->
 
 <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
 
	<!-- Appenders -->
	<!-- console appender는 표준 출력(System.out)을 이용하여 로그를 출력 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		
		<!-- target은 출력 목적지 -->
		<param name="Target" value="System.out" />
		
		<!-- layout은 출력 형태(서식) -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m (%d{yyyy-MM-dd HH:mm:ss}) %n" />
		</layout>
	</appender>


	<appender name="xml" class="org.apache.log4j.FileAppender">
		<param name="file" value="log.xml"></param>
		<param name="append" value="true"></param>
		<layout class="org.apache.log4j.xml.XMLLayout"></layout>
	</appender>

	
	<appender name="txt" class="org.apache.log4j.FileAppender">
		<param name="file" value="log.txt"></param>
		<param name="append" value="true"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m (%d{yyyy-MM-dd HH:mm:ss}) %n" />
		</layout>
	</appender>

	
	<appender name="daily" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="D:/upload/kh52/log/daily"></param>
		<param name="append" value="true"></param>
		<!-- daily이므로 날짜 패턴 설정을 해야함 -->
		<param name="DatePattern" value="-yyyy-MM-dd'.log'"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m (%d{yyyy-MM-dd HH:mm:ss}) %n" />
		</layout>
		
	</appender>
	
	<!-- logger 설정 : 특정 영역(패키지)에 대한 출력 수준을 설정 -->
<!--
 	<logger name="org.springframework.core">
		<level value="info" />
	</logger>	
 -->

	<!-- Root Logger -->
	<!-- 최상위 출력 설정 : logger에서 설정된 내용을 제외하고 나머지가 모두 적용 -->
	<root>
		<priority value="info"/> <!-- 개발할 때는 debug, 배포할 때는 info -->
		<appender-ref ref="console" />
<!-- 	<appender-ref ref="daily" /> -->
<!-- 	<appender-ref ref="txt" /> -->
<!-- 	<appender-ref ref="xml" /> -->
	</root>
	
</log4j:configuration>
