html body .poll-content-container{	
	width:100%; 
	height:100%;
	word-break: break-all;
	letter-spacing: -0.5px;
}
article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}
#content {
    word-break: break-all;
}
a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
img{
	vertical-align: top;
	border: 0;
}
span{
	color: #333;
}
span.txt {
    display: inline-block;
}
span.date {
    font-size: 13px;
    color: #999;
}
table {
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
    width: 100%;
}
label{
	display:inline-block;
}
textarea{
	border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    min-height: 50px;
    max-height: 200px;
    padding: 0 4px;
    margin: 0;
    line-height: normal;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th span.title{
	display: inline-block;
    font-weight: normal;
}
input.text{
	min-width: 40px;
	padding: 0 8px;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-block;
}
input[type="radio"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
}
input[type=radio], input{
	vertical-align: middle;
}
.toolbar-icon {
	display: inline-block;
    background: url(../img/poll/ic_toolbar.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.toolbar-icon.modify {
    background-position: -300px -200px;
}
.main-btn{
	display: inline-block;
    cursor: pointer;
    padding: 11px 25px 8px;
    color: #fff;
    font-weight: bold;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    background: #00a1b9;
    border: 1px solid #00a1b9;
    border-radius: 2px;
}
.sub-btn {
    display: inline-block;
    cursor: pointer;
    padding: 11px 25px 8px;
    color: #656565;
    font-weight: normal;
    font-size: 13px;
    line-height: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background: #f3f3f3;
    border: 1px solid #d1d1d1;
}
.poll-post-content-container{
	width:100%;
}
.poll-post-inner-content-container{}
.poll-post-toolbar{
	position: relative;
    min-height: 38px;
    padding: 0 0 8px 0;
    border-top: 1px solid #ccc;
}
.w-max{
	width: 100%;
}
.poll-post-toolbar .poll-post-manage{
    float: left;
    margin: 6px 0 0 24px;
}
.poll-post-toolbar>ul{
	min-height: 30px;
}
.poll-post-toolbar>ul>li{
	float: left;
}
.poll-post-toolbar .poll-post-list{
    float: right;
    margin: 5px 24px 0 0;
    position: inherit;
}
.poll-post-toolbar .poll-post-list li:first-child{
    margin-right: 0px;
}
.poll-post-toolbar .poll-post-list li{
	position: relative;
}
.poll-post-article-main-container{
	display: block;
    overflow: hidden;
    padding-right: 300px;
}
.poll-post-article-wrap{
	float: left;
    width: 100%;
    border-right: 1px solid #d6d6d6;
}
.poll-post-article-header{
    position: relative;
    padding: 24px 24px 0;
    margin: 0!important;
    border-top: 8px solid #eee!important;
}
.poll-post-article-header h1{
    font-size: 24px;
    line-height: 1.4;
    margin-right: 180px;
}
.poll-post-info-list{
	margin: 8px 0 0 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.poll-post-info-list tr th{
    padding: 0 0 0 20px;
    vertical-align: top;
    text-align: left;
    width: 90px;
}
.poll-post-info-list tr th .normal-info{
    position: relative;
}
.poll-post-info-list tr th .normal-info .span-toggle{
	position: absolute;
    top: 0;
    left: -20px;
}
.poll-post-info-list tr th .normal-info .span-toggle .toggle-icon{
	background-position: -50px -1000px;
    width: 15px;
    height: 15px;
}

 
.poll-post-info-list tr td{
    border-bottom: 0;
} 
.normal-info .title{
    display: inline-block;
    font-weight: normal;
    color: #888;
    text-align: left;
    margin-top: 2px;
    font-size: 13px;
}
.poll-post-info-list tr th span.title {
    display: inline-block;
    font-weight: normal;
    color: #888;
    text-align: left;
    margin-top: 2px;
    font-size: 13px;
}
.poll-post-info-list .photo{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 4px 0 0;
}
.poll-post-info-list tr td span.txt{
    color: #888;
    font-size: 13px;	
}
.poll-post-join-info {
	margin: 16px 0 0 0;
}
.poll-post-join-info .poll-post-join-info-wrap {
    position: relative;
    margin: 0 300px 0 20px;
}
.poll-post-join-info-wrap .txt{
    font-size: 12px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 8px 16px;
}
.poll-post-join-info-wrap .txt strong{
    display: block;
    font-size: 20px;
}
.inline-space{
    display: inline-block;
    width: 10px;	
}
.poll-post-question-container{
	min-height: 200px;
	padding:24px;
}
.poll-post-question-container p{
	line-height: 1.8;
}
.poll-post-question-container ul{
	list-style-type: disc;
    list-style-position: inside;
}


.question-guide{
    padding: 16px;
    background: #f4f4f4;	
}
.question-list-container{
	margin-bottom: 20px;
}
.poll-post-question-container .question-list>li:first-child{
    margin-top: 0;
}
.poll-post-question-container .question-list>li{
    list-style: none;
    margin-top: 30px;
}
span.necessary {
    color: #ff616b;
}
span.question {
    display: inline-block;
    font-weight: bold;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    padding: 10px 0 8px 0;
}
.poll-post-question-container .question-list>li span.question{
    display: block;
}
.answer-option-wrap{
    display: inline-block;
    padding: 4px 0;
    vertical-align: middle;
}
.answer-checkbox {
    display: inline-block;
    padding: 4px 0;
    vertical-align: middle;
}
.answer-wrap{
    margin: 0 22px;
}
.answer-wrap li{
    list-style: none;
}
.text-wrap{
	display: block;
}
.answer-wrap .etc span .label-wrap{
    margin: 0 5px 0 3px;
    padding: 7px 0 4px!important;
    vertical-align: top;
    line-height: 1;
}
.answer-wrap .etc span .xt w-fix-max{
    width: 448px;
}
.text-area-wrap{
    padding: 2px 0;
    vertical-align: top;	
}
textarea.textarea{
	width: 100%;
}
.rank{
	overflow: hidden;
}
.rank li {
    float: left;
    margin-left: 20px;
}
.rank li:first-child {
    margin-left: 0;
}
.rank li span.answer-option-wrap {
    text-align: center;
}
.rank li span.answer-option-wrap input {
    display: block;
    margin: 0 0 5px;
}
.rank li label {
    font: 14px tahoma;
    color: #666;
}
.question-submit-button{
	padding: 10px 24px;
    text-align: center;
}
.question-submit-button .main-btn{
	padding: 10px 25px 9px;
}
.question-submit-button .main-btn span{
	color: #fff;
    vertical-align: baseline;
    line-height: 1.2;
}
.question-submit-button .sub-btn{
	padding: 10px 25px 9px;
}
.question-submit-button .sub-btn span{
	color: #656565;
    vertical-align: baseline;
    line-height: 1.2;
}
.poll-reply-container{
	font-size: 13px;
	border-top: 8px solid #eee;
	float: right;
    width: 300px;
    margin-right: -300px;
}
.poll-reply-wrap{
	line-height: 1.6;
	min-width: 280px;
    width: 100%;
}
.reply-wrap{
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    border: 0;
}
.poll-reply-wrap ul.reply-count{
	margin: 0;
    border: 0;
    width: auto;
}
ul.reply-wrap>li {
    position: relative;
    overflow: hidden;
    margin: 0px 0;
    padding: 8px 24px;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    box-sizing: border-box;
}

ul.reply-wrap li.reply-count-view {
    cursor: default;
    padding-bottom: 16px;
    border-color: #eee;
    
}
ul.reply-wrap li span{
	display: inline-block;
}
ul.reply-wrap li span.photo{
	position: absolute;
    left: 10px;
    top: 10px;
    width: 32px!important;
    height: 32px!important;
}
span.reply-count-icon{
	background-position: -80px 0;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin: 0 4px 0 0;
}
.reply-count-view span.reply-count-num{
	color: #888;
    margin: 0 0 0 4px;
    font-size: 13px;
}
ul.reply-wrap>li span.photo{
    top: 11px;
    left: 24px;
}
ul.reply-wrap li span.photo img{
	width: 100%;
    height: 100%;
    border-radius: 32px;
}
.reply-msg-wrap{
	position: relative;
    margin-left: 40px;
    min-height: 32px;
    box-sizing: border-box;
    padding: 0;
    
}
.reply-msg-wrap p{
	display: block;
}
ul.reply-wrap li span.name{
	color: #000;
}
ul.reply-wrap li span.date{
    display: inline-block;
    color: #999;
}
ul.reply-wrap .reply-update-wrap{
    display: none;
    position: absolute;
    right: 8px;
    top: 8px;
    margin: 0;
}
ul.reply-wrap .reply-update-wrap span{
    vertical-align: middle;
}
ul.reply-wrap .reply-update-wrap.reply-update-btn{
    height: 20px;
    line-height: 18px;
    background: #bbb;
}
ul.reply-wrap li.last{
	margin-bottom: 0;
    border-bottom: 0;
}
.reply-input-wrap{
	position: relative;
    margin: 0;
    padding: 8px 24px;
    border-top: 1px solid #ddd;
    border: 0;
}
.reply-input-wrap span.photo {
	display: inline-block;
	position: absolute;
    left: 24px;
    top: 10px;
    width: 32px;
    height: 32px;
}
.reply-input-wrap.msg-wrap {
    position: relative;
    margin-left: 40px;
    min-height: 28px!important;
}
.reply-input-component-wrap{
	position: relative;
}
.reply-input-form-wrap{
	margin-right: 0!important;
    margin-bottom: 5px;
}
.reply-input-form-textarea{
	position: relative;
    margin-right: 0;
    display: block;
    padding: 2px 0;
}
.reply-input-form-textarea textarea{
	background: #fff;
    height: 28px!important;
    min-height: 28px!important;
    overflow-y: auto;
}
.reply-input-component-wrap span.sub-btn{
	position: absolute;
    right: 0px;
    background: #fff;
    padding: 0;
    width: 74px;
    height: 26px;
    line-height: 24px;
    border-radius: 0;
    text-align: center;
    top: inherit;
}
.sub-btn.txt{
	padding: 0;
    font-size: 13px;
}
