/* layout */


html body {
	overflow-x: hidden;
	width:100%;
}

.poll-wrapping {
	position:absolute;
	width:100%;
	padding:0;
	margin:0 auto;
}
.poll-topMenu {
	position:fixed;
	left:0;
	right:0;
	height:70px;
	pdding: 13px 0 0 18px;
	border-bottom:1px;
	overflow:hidden;
	z-index:80;
}
.menuTopBar {
	position:absolute;
	top:0;
	width:100%;
}
.menuAlertBar {
	position:absolute;
	top:40px;
}
.menuBox {
}

.poll-navLeft {
	position:fixed;
	width:180px;
	height:100%;
	top:70px; 
	left:0; 
}
.poll-container {
	height:100%;
	padding:70px 0 0 0;
	margin-left:180px;
}
.poll-content {
	top:70px;
}
