body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, form, fieldset, p, button, input, figure {
    margin: 0;
    padding: 0;
}
body, input, select {
    white-space: normal;
    letter-spacing: -0.5px;
}
ul.poll-list .wfix-max {
    width: 480px;
}
input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    color: #333;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0;
    font: 400 13.3333px Arial;
    vertical-align: middle;
}
input[type="radio"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
    border: initial;
    background-color: initial;
    cursor: default;
    appearance: radio;
}
input[type="checkbox"] {
    margin: -1px 4px 0 0;
    cursor: default;
}
label{
	cursor: default;
	display: inline-block;
}
form{
	display: block;
	border-bottom:1px solid #ddd;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border: none;
}
table{
	display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
.poll-form  ul{
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    text-align: -webkit-match-parent;
}
.form-table{
	margin: 8px 0;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th {
    display: table-cell;
}
td {
    display: table-cell;
}
.form-table th{
	padding: 8px;
	text-align: left;
    vertical-align: top;
    font-weight: normal;
    padding-left: 24px;
    height: 26px;
    width: 140px;
}
.form-tabe th span.title{
	display: inline-block;
    margin: 0;
}
.form-table td{
	vertical-align: top;
	padding: 4px 24px 4px 0;
}
.txt-wrap{
	display: inline-block;
    padding: 2px 0;
    vertical-align: middle;
}
div.txt-wrap{
	display:block;
}]
input.txt{
	border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 8px;
    height: 26px;
    min-width: 40px;
}
.date-wrap{
	vertical-align: middle;
	position: relative;	
    display: inline-block;
}
.date-wrap input.txt{
	padding-left:0px;
	text-align:center;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
}
.option-wrap{
	display: inline-block;
    padding: 4px 0;
    vertical-align: middle;
}
.option-name-tag-wrap{
	padding: 8px;
    border: 1px dashed #ddd;
    overflow: hidden;
    line-height: 1.2;
    margin: 0;
    width: auto;
}
.name-tag-wrap{
	padding: 2px 0;
}
span.desc {
    display: inline-block;
    font-size: 13px;
    color: #999;
    line-height: 1.5;
    margin: 0;
}
.form-action-wrap{
	text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
ul.name-tag {
    overflow: hidden;
}
ul.name-tag>li {
    float: left;
    line-height: 20px;
}
ul.name-tag .creat {
    height: 22px!important;
}
ul.name-tag li.creat {
    border: 0 !important;
    background: transparent;
    padding: 0 !important;
    margin-top: 3px;
    border-radius: 0;
}
span.btn-wrap, a.btn-wrap {
    cursor: pointer;
    display: inline-block;
}
ul.name-tag li.btn-wrap{
	padding: 0 1px;
    line-height: 100%;
    vertical-align: top;
}
ul.name-tag .creat span.btn-wrap, ul.name-tag .creat {
    height: 22px!important;
}
ul.name-tag li.creat span.btn-wrap {
    margin: 0;
}
span.icon-form{
	display: inline-block;
    background: url(../../img/poll/icon_form.png) no-repeat 0 0;
    vertical-align: middle;
}
span.icon-addlist{
	background-position: -50px 0px;
    width: 16px;
    height: 16px;
}
.form-table .icon-addlist{
	margin: 1px 2px 0 10px;
}
ul.name-tag li.creat span.icon-addlist {
    margin-left: 0;
    margin-right: 4px;
}
table.form-table td span.txt{
	display: inline-block;
}
ul.name-tag li span.btn-wrap span.txt {
    padding: 0;
    vertical-align: middle;
    font-size: 13px;
    margin-top: 1px;
}
.rest-btn {
    display: inline-block;
    margin: -4px 0 0 16px;
    opacity: 0.6;
}
.icon16 {
    display: inline-block;
    background: url(../../img/poll/icon16.png) no-repeat 0 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.icon16.remove-all {
    background-position: 0 0;
}
.desc-top-wrap{
	display: block;
    padding: 1px 0 6px;
    vertical-align: top;
    display:none;
}
.desc {
    line-height: 1.5;
    margin: 0;
}
.alert-wrap .caution {
    color: #ee3b4c;
}
