html body .poll-content-container 	{width:100%; 
									 height:100%;
									 word-break: break-all;
									 }
a {
	color: #333;
    text-decoration: none;
    cursor: pointer;
}
.poll-content-bar			{width:100%;}

.my-poll-list-container 	{height:30%;
							 min-height:300px;
							 box-sizing:border-box;
							 }

.poll-list-bar 				{vertical-align: middle;
							 width:100%;
							 padding:24px;
							 border-bottom: 0.5px solid #ddd;
							 vertical-align: middle;
							 display:inline-block;
							 }
							 
.poll-list-bar h1			{font-size:22px;
							 padding:5px 0;
							 vertical-align: middle;
							 }
							 
.poll-list					{width:100%;
							 text-align:center;
							 border-bottom: 0.5px solid #ddd;
							 box-sizing: border-box;
							 table-layout:auto;
						     border-spacing: 2px;
						     -webkit-border-horizontal-spacing: 2px;
						     -webkit-border-vertical-spacing: 2px;
						     border-color: #ddd;
							 }							

.poll-list th				{height:32px;
							 padding: 0px 16px;
							 border-bottom: 0.5px solid #ddd;
						 	 box-sizing:border-box;
						 	 vertical-align:middle;
							 }

.poll-list tr th:first-child{width:84px;
							 }
.poll-list tr th:nth-child(2){width:332px;
							 }
.poll-list tr th:nth-child(3){width:252px;
							 }
.poll-list tr th:nth-child(4){width:152px;
							 }

.poll-list tr td			{height:40px;
							 padding:8px 16px;
							 box-sizing:border-box;
						     padding: 8px 16px;
						     line-height: 1.6;
						     border-bottom: 1px solid #eee;
						     vertical-align: top;
							 }				

.poll-state-span-no-attendance
							{display: inline-block;
							min-width: 50px;
						    padding: 4px;
						    text-align: center;
						    color: #fff;
						    border-radius: 2px;
						    letter-spacing: -1px;
						    line-height: 11px;
						    height: 10px;
						    font-size: 12px;
						    vertical-align: middle;
						    background-color: #ff616b;
						    border: 1px solid #ff616b;
						    }
						    
.poll-state-span-attendance	{display: inline-block;
							min-width: 50px;
						    padding: 4px;
						    text-align: center;
						    color: #fff;
						    border-radius: 2px;
						    letter-spacing: -1px;
						    line-height: 11px;
						    height: 10px;
						    font-size: 12px;
						    vertical-align: middle;
						    background-color: #A3A3A3;
						    border: 1px solid #A3A3A3;
						    }

.my-poll-list-container .poll-list-bar {

    border-bottom: 0;

}
.recent-poll-list-container	{height:70%;}
table tbody tr:hover{
	background: #f4f4f4;
}

.dashboard-box {
    min-height: 20px;
    padding: 12px 24px;
}
.dashboard-box .card-item-wrapper {
    display: inline-block;
}
.card-item {
    float: left;
    width: 228px;
    margin: 0 16px 25px 0;
    padding: 0;
    transition: 0.3s;
    background: #fff;
}
.card-item .card-wrapper {
	border: 1px solid #ddd;
    padding: 0;
    border-radius: 8px;
    background: #fff;
    transition: 0.3s;
}
.card-item.poll-home-card {
    width: 320px;
}
.card-item div.h-border {
    display: none;
    border-top: 2px solid #EEB28B;
}
.dashboard-box .card-item:hover .lead-btn {
    transition: 0.4s;
    background: #0174DF;
    border-radius: 0 0 8px 8px;
}
.dashboard-box .card-item .card-wrapper:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 30px -20px rgba(0,0,0,0.3);
}
.card-item div.card-wrapper header {
    padding: 12px 16px 0;
    border-top: 5px solid #fff;
    border-radius: 6px;
}
.card-item div.card-wrapper span.number {
    display: none;
    line-height: 1;
    font-size: 11px;
    color: #757575;
    font-family: tahoma;
}
.card-item div.card-wrapper .card-subject, .card-item div.card-wrapper .card-content {
    padding: 0 16px 16px 16px;
}
.card-item div.card-wrapper .card-subject {
    padding-bottom: 0;
}
.card-item div.card-wrapper span.title {
    display: block;
    line-height: 1.4;
    font-size: 19px;
    color: #484848;
    letter-spacing: -1px;
    margin: 6px 0 0;
    font-weight: bold;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-item div.card-wrapper span.date {
    margin-top: 6px;
    color: #919191;
    font-family: verdana;
    font-size: 11px;
    letter-spacing: -1.3px;
}
div.card-wrapper .card-content {
    min-height: 70px;
}
.card-item div.card-wrapper .card-content {
    padding: 0 16px 16px 16px;
}
.card-item div.card-wrapper table.form-b {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-top: 4px;
}
.card-item div.card-wrapper table.form-b th {
    width: 60px;
    padding: 3px 3px 3px 0;
    text-align: left;
    color: #888;
    letter-spacing: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
    font-size: 13px;
    font-weight: normal;
}
.card-item div.card-wrapper table.form-b td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 143px;
    font-size: 13px;
    letter-spacing: 0;
}
.poll-home-card .card-action {
    margin: 0;
    width: 100%;
    text-align: center;
}
a.lead-btn {
	vertical-align: middle;
	text-align: center;
	min-width: 95px;
	display: inline-block;
	width: 100%;
    padding: 12px 0;
    border: 0;
    background: none;
    color: #333;
    font-size: 13px;
    border-top: 1px solid #ebebeb;
    font-weight: 500;
}
.dashboard-box .card-item .txt {
    vertical-align: top;
}