
*{
	list-style: none;
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
tbody{
	margin: 0;
	width: 100%;
	height: 100%;
	
	
}
/* html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	background: linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
}
 */
.container {
}

.navLeft {
	float: left;
}

.content {
	width: 100%;
	height: 100%;
}

.right {
	float: right;
}


body{
	background: #ebecf1;
	color: #b3b9b9;
}

.resultArea1{
	height: 100%;

}
#comu{
	height:50px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	background: linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	border-radius: 10px;
}
.text{
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	background: linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	border-radius: 10px;
}
#title{
	height:50px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	background: linear-gradient(to right, #AFDBFF, #F1F9FF, #AFDBFF);
	border-radius: 10px;
}
.n{
	color:black;
	font-size: 15px;
	font: bolder;
}
#nti{
	font-size: 25px;
	font: bolder;
}
.btn{
	background:#E8F0FD;
 width:300px; 
 height:45px;
 margin-left:80px;
  border-radius: 10px;
  font: bolder;
  font-size: 20px;
}