br {
	content: " ";
	display: block;
	margin: 0.4em 0;
}

body {
	overflow-x: hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
	min-width: 1500px;
	height: 2000px;
}

.content {
	
}


.formBox {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	min-width: 950px;
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.listBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeBar {
	width: auto;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeTitle {
	display:inline-block;
	margin-top: 5px;
	margin-left: 10px;
	height: 30px;
	font-size: 17px;
	font-weight: bolder;
}

#docu_emp_code, #docu_count, #docu_note {
	display: none;
}


