br {
	content: " ";
	display: block;
	margin: 0.4em 0;
}

body {
	overflow-x: hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);	
}

.content {
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
}

.docuList{
	height: 350px;
}

#listArea {
	width: 100%;
	min-width: 1200px;
}

.result {
	border: 1px solid #D8D8D8;
}

.result:hover {
	background: #F1F9FF;
	cursor: pointer;
}

.textBox0 {
	display: none;
}

.imgBox1 {
	float: left;	
	vertical-align: top;
	width: 60px;
	height: 60px;
	background: #0072C6;
}

.img0 {
	padding-left: 0.6rem;
	padding-top: 0.6rem;
	width: 35px;
	height: 35px;
}

.img1 {
	margin-left: 5px;
	margin-bottom: 15px;
	width: 60px;
	height: 30px;
}

.textBox1 {
	float: right;
	text-align: center;
	line-height: 60px;
	width: 120px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox2 {
	float: left;
	text-align: center;
	line-height: 60px;
	width: 830px;
	height: 60px;
	font-size: 17px;
}


/* ////////// */
.signListBtn0 {
	float: left;
	text-align: right;
	width: 400px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: default;
}
/* ////////// */

.textBox3 {
	float: right;
	text-align: center;
	width: 80px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox4 {
	float: right;
	text-align: center;
	width: 120px;
	height: 60px;
	font-size: 16px;
}

.textBox5 {
	float: right;
	text-align: center;
	width: 80px;
	height: 60px;
	font-size: 26px;
	font-weight: bolder;
}

.signHomeListBar {
	width: 100%;
	min-width: 1200px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.signHomeListTitleImg {
	float: left;
	width: 20px;
	height: 20px;
}

.signHomeListTitle {
	float: left;	
	margin-top: 6px;
	margin-left: 15px;	
	font-size: 17px;
	font-weight: bolder;
}

.signListBtn0 {
	float: left;
	text-align: right;
	width: 400px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: default;
}

.signListBtn1 {
	float: right;
	width: 120px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: default;	
}

.signListBtn2 {
	float: right;
	width: 80px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: default;
}

.signListBtn3 {
	float: right;
	width: 120px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;
	cursor: default;	
}

.signListBtn4 {
	float: right;
	width: 80px;
	height: 30px;
	outline: none;
	border: none;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}

.signListBtn5 {
	float: right;
	width: 80px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}

.signListBtn6 {
	float: right;
	width: 80px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}
