.menuLeftBar {
	width: 180px;
	height: 100vh;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
}

.menuLeftListTop {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftListTitle {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #0059A1);
	background: linear-gradient(to right, #0072C6, #0059A1);
}

.menuLeftListBtn {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
	cursor: pointer;
}

.menuLeftList0 {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftList {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
	cursor: pointer;
}

.menuLeftList:hover {
	width: 150px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #F1F9FF);
	background: linear-gradient(to right, #0072C6, #F1F9FF);
}

.menuLeftBtn {
	width: 130px;
	height: 35px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.menuLeftBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

.leftBar {
	float: left;
}

.leftBar.fixed {
	position: fixed;
	left: 0px;
	top: 0px;
}


/* 추가 css 영역 시작 */

.attendanceStatusTable .clock{
	text-align: center;
	font-size: medium;
}

.attendanceStatus{
	font-size: small;
	padding: 0.5rem;
	text-align: left;
}

.attendanceStatusTable{
	width:100%;
	color: white;
	text-shadow: 1px 1px 1px #0072C6;
}

.attendanceStatusTable td{
	padding:0.5rem;
}

.attendanceStatusTable td:nth-of-type(2){
	text-align: right;
}
