.menuLeftBar {
	width: 180px;
	height: 100vh;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
}

.menuLeftListTop {
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftListTitle {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #0059A1);
	background: linear-gradient(to right, #0072C6, #0059A1);
}

.menuLeftListBtn {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
	cursor: pointer;
}

.menuLeftList0 {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftList {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
	cursor: pointer;
}

.menuLeftList:hover {
	width: 150px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #F1F9FF);
	background: linear-gradient(to right, #0072C6, #F1F9FF);
}

.menuLeftBtn {
	width: 130px;
	height: 35px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.menuLeftBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

.leftBar {
	float: left;
}

.leftBar.fixed {
	position: fixed;
	left: 0px;
	top: 0px;
}


/* 추가 css 영역 시작 */

hr{
	border-color: rgba(0,0,0,0.5);
	padding: 2rem;
}

.attendanceStatus{
	font-size: x-small;
	padding: 0.5rem;
	text-align: left;
}

.attendanceStatusTable{
	width:100%;
	color: white;
	text-shadow: 1px 1px 1px #0072C6;
}

.attendanceStatusTable td{
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

.attendanceStatusTable td:nth-of-type(2){
	text-align: right;
}

.attendanceStatusTable tr:last-of-type{
	text-align: center;
	padding-bottom:0;
}	

/* 조직도 버튼 */
.organChartBorder{
	box-sizing: border-box;
	position:fixed;
	bottom:0.5rem;
	left: 0px;
	width: 180px;
	
	padding: 0.5rem;
	
	line-height: 20px;
	text-align: center;
	font-size: small;
	font-weight: bold;
	color: white;
	background: rgba(0,0,0,0);
	
	text-align: center;
}

.organChart{
	display: inline-block;
	width: 90%;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 0.5rem;
}

.activeBtn{
	border: 1px solid white;
	border-radius: 0.5rem;
}

.organPanel{
	position: fixed;
	left: 80px;
	bottom: 2.2rem;
	width: 15vw;
	height: 50vh;
	background: white;
	border: 1px solid red;
}

.organPanel .topPanel{
	box-sizing: border-box;
	width: 100%;
	display: table;
	padding: 0.5rem;
	padding-top: 1rem;
}

.organPanel .topPanel .search{
	display: table-cell;
}

.search > input[type=text]{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.search > input[type=text]:focus{
	outline: none;
}
	
.organPanel .topPanel .closeBtnArea{
	display: table-cell;
	text-align: right;
	padding-right: 1rem;
}

.organPanel .members{
	box-sizing: border-box;
	
	with: 95%;
	height:85%;
	padding-left: 2rem;
	overflow: auto;
	border: 1px solid yellow;
}

.organPanel ul,
.organPanel li{
	list-style: none;
	padding: 0.2rem;
}

.organPanel ul li ul{
	padding-left: 2rem;
}

