.menuBox {
	position: fixed;
	margin-top: -20px;
	max-width: 1000px;
	width: 100%;
	min-width: 700px;
	background: none;
	z-index: 999;
}

.arrow {
	height: 30px;
	background: none;
}

.buttonArea {
	min-height: 90px;
	overflow: hidden;
	max-width: 1400px;
	min-width: 700px;
	height: auto;
	background: white/* #F2F2F2 */;
}

.buttonSize {
	margin-top: 10px;
	margin-left: 5px;
	float: left;
	width: 70px;
	height: 70px;
	background: #535050;
	color: white;
	font-weight: bolder;
	font-size: 12px;
	border: none;
	outline: none;
	cursor: pointer;	
}

.buttonSize:hover {
	background: #408EF2;
}

.buttonSize1 {
	margin-top: 10px;
	margin-left: 5px;
	float: left;
	width: 70px;
	height: 70px;
	background: #BB1909;
	color: white;
	font-weight: bolder;
	font-size: 12px;
	border: none;
	outline: none;
	cursor: pointer;
}

.buttonSize1:hover {
	background: #408EF2;
}

.changePlan {
	max-width: 1000px;
	min-width: 800px;
	height: 20px;
	background: #F2F2F2;
}

.menuIcon {
	width: 25px;
	height: 25px;
}