.menuBox {
	max-width: 1440px;
	min-width: 800px;
	background: blue;
}

.arrow {
	height: 30px;
	background: none;
}

.buttonArea {
	max-width: 1440px;
	min-width: 800px;
	height: auto;
	background: green/* #F2F2F2 */;
}

.buttonSize {
	margin-top: 10px;
	margin-left: 5px;
	float: left;
	width: 100px;
	height: 100px;
	background: #535050;
}

.changePlan {
	max-width: 1440px;
	min-width: 800px;
	height: 30px;
	background: yellow;
}