body {
	overflow-x: hidden;
}

.container {

}

.content {
	position: absolute;
	left: 180px;
	width: 100%;
	min-width: 1500px;
	height: 2000px;
}

.formBox {
	float: left;
	width: 800px;
	height: 100%;
	margin-left: 100px;
	margin-top: 20px;
	border: 1px solid #D9D9D9;
	background: white;
}

.formRight {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 180px;
}

.formBox0 {
	width: 100vh;
	height: 20px;
}

.formBox1 {
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	width: 180px;
	height: 50px;
}

.formBox2 {
	width: 80px;
	height: 60px;
	background: blue;
}

.img2 {
	margin-top: 10px;
	margin-left: 10px;
	width: 60px;
	height: 60px;
}

.formBox3 {
	width: 800px;
	height: 30px;
	border: none;
}

.formBox4 {
	width: 100vh;
	height: 60px;
}

.formBox5 {
}

.formBox6 {
	width: 800px;
	height: 100%;
	background: #F1F9FF; 
}

.formBox7 {
	width: 800px;
	height: 40px;
}

.formBox8 {
	width: 800px;	
	height: 80px;
}

.formBox9 {
	width: 800px;	
	height: 80px;
}

.formBox10 {
	width: 800px;
	height: 30px;
	background: #D9D9D9;
}

.formBtn1 {
	width: 180px;
	height: 50px;
	outline: none;
	font-size: 18px;
	font-weight: bolder;
	color: white;
	cursor: pointer;
	border: 1px solid #747EA9;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
}

.formResult1 {
	width: 178px;
	height: 360px;
	border: 1px solid #D9D9D9;
	background: #F5F5F5;
}

.formResult2 {
	margin-left: 10px;
	width: 90px;
	height: 30px;
	outline: none;
	border: none;
	font-weight: bolder;
	font-size: 16px;
	background: none;
}

.formResult3 {
	margin-left: 10px;
	width: 780px;
	height: 60px;
	outline: none;
	border: none;
	font-weight: bolder;
	font-size: 16px;
}

.formResult4 {
	margin-left: 10px;
	width: 190px;
	height: 30px;
	outline: none;
	border: none;
	font-size: 14px;
	color: #7D7D7D;
	background: none;
}

.formResult5 {
	width: 100%;
	height: 100%;
	background: #F1F9FF;
	border: 1px solid #D8D8D8;
}

.formResult6 {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
}

.formInput1 {
	margin-left: 10px;
	margin-top: 10px;
	width: 665px;
	height: 60px;
	background: none;
	border: 1px solid #D8D8D8;
}

.formBtn0 {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	width: 100px;
	height: 60px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
	color: black;	
}

.formBtn2 {
	margin-top: 3px;
	margin-left: 10px;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
	color: black;	
}

#formBtn3 {
	line-height: 40px;
	text-align: center;
	width: 800px;
	height: 40px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
	font-size: 18px;	
	border: 1px solid black;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

#formBtn3:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

#formBtn3:disabled {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

#viewer {
	margin-left: 10px;
	height: 100%;
	min-height: 500px;
}

/*signSelectOneBar*/
.signBar1 {
	width: 100%;
	height: 60px;
	border: 1px solid #D8D8D8;
}

/* .signBar1:hover {
	background: #F1F9FF;
} */

.imgBox1 {
	float: left;
	width: 60px;
	height: 60px;
	background: #0072C6;
}

.img1 {
	margin-top: 10px;
	margin-left: 10px;
}
.imgBox2 {
	float: right;
	width: 80px;
	height: 60px;
}

.resultBox1 {
	float: left;
	width: 600px;
	height: 60px;
}

.resultBox2 {
	float: right;
	width: 120px;
	height: 30px;
}

.resultBox3 {
	float: right;
	width: 80px;
	height: 60px;
}

.resultBox4 {
	float: right;
	width: 120px;
	height: 30px;
}

.signDate {
	text-align: center;
	width: 120px;
	height: 28px;
	outline: none;
	border: none;
	font-size: 14px;
	background: none;
}

.signSee {
	width: 80px;
	height: 60px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
}

.signJoin {
	width: 80px;
	height: 60px;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
}

.signCount {
	text-align: center;
	width: 80px;
	height: 58px;
	outline: none;
	border: none;
	background: none;
	font-size: 20px;
	font-weight: bolder;
}

.signWriter {
	text-align: center;
	width: 120px;
	height: 28px;
	outline: none;
	border: none;
	background: none;
	font-size: 16px;
	font-weight: bolder;
}
.signType {
	margin-left: 10px;
	width: 120px;
	height: 58px;
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: bolder;
	background: none;
}

.signTitle {
	width: 450px;
	height: 58px;
	outline: none;
	border: none;
	background: none;
	font-size: 16px;
	font-weight: bolder;
	cursor: pointer;
}
	
/*signSelectOneListBar*/
.signHomeListBar {
	width: 100%;
	min-width: 1000px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.signHomeListTitle {
	float: left;	
	font-size: 17px;
	font-weight: bolder;
}

.signListBtn1 {
	float: right;
	width: 120px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}

.signListBtn2 {
	float: right;
	width: 80px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}

.signListBtn3 {
	float: right;
	width: 120px;
	height: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	background: none;
	font-size: 15px;
	font-weight: bolder;	
}

.signSelectOneModifyBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.imgSize {
	width: 25px;
	height: 25px;
}

#signSelect {
	width: 500px;
	height: 140px;
    text-align: center;
    background: #E8F0FD;
    border-radius: 10px;
	display: none;
	position: absolute;
	margin-left: 150px;
	margin-top: -200px;
}

#signSelect > li > button {

	margin-top: 20px;
	width: 220px;
	height: 100px;
	font-size: 24px;
	font-weight: bolder;
	outline: none;
	cursor: pointer;
	background: white;
	border: none;
}

#signSelect > li > button:hover {
	background: #408EF2;
}

.arrowImg {
	margin-top: 15px;
}

.fontSize1 {
	font-size: 16px;
	color: #7D7D7D;
}


.signHomeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.signListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.signListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}
