br {
    content: " ";
    display: block;
    margin: 0.4em 0;
}

body {
	overflow-x: hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
}

.content {
}

.resultArea1 {
	width: 100%;
	min-width: 1000px;
	height: 350px;
}

#listArea {
	width: 100%;
	min-width: 1100px;
}

#result {
	border: 1px solid #D8D8D8;
}

#result:hover {
	background: #F1F9FF;
	cursor: pointer;
}

.img0 {
	margin-top: 10px;
	width: 35px;
	height: 35px;
}

.imgBox1 {
	float: left;	
	vertical-align: top;
	width: 60px;
	height: 60px;
	background: #0072C6;
}

.imgBox2 {
	float: left;	
	vertical-align: top;
	width: 60px;
	height: 60px;
	background: #D8D8D8;
}

#signJoiner {
	margin-left: 10px;
	margin-top: 14px;
	width: 30px;
	height: 30px;	
}

#signWatcher {
	margin-left: 10px;
	margin-top: 14px;
	width: 30px;
	height: 30px;	
}

#signCount {
	margin-left: 10px;
	margin-top: 14px;
	width: 30px;
	height: 30px;
	border: none;
	outline: none;
	background: none;
	font-size: 22px;
	font-weight: bolder;
	text-align: center;
}

#signCount2 {
	margin-left: 10px;
	margin-top: 14px;
	width: 30px;
	height: 30px;
	border: none;
	outline: none;
	background: none;
	font-size: 22px;
	font-weight: bolder;
	text-align: center;
}

.textBox1 {
	float: left;
	padding-left: 0.5rem;
	text-align: left;
	width: 425px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox2 {
	float: right;
	text-align: center;
	width: 120px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox3 {
	float: right;
	text-align: center;
	width: 80px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox31 {
	float: right;
	text-align: center;
	width: 80px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

.textBox4 {
	float: right;
	text-align: center;
	width: 120px;
	height: 60px;
	font-size: 18px;
	font-weight: bolder;
}

#signListJoinerForm {
	position: absolute;
	margin-left: -40px;
	width: 160px;
	height: 210px;
	background: #D8D8D8;
	border-radius: 10px;
	text-align: center;
}
