body {
	overflow-x: hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: 100%;
	min-width: 1500px;
	height: 2000px;
}

br {
    content: " ";
    display: block;
    margin: 0.4em 0;
}

.content {

}

.formRight {
	margin-top: 20px;
	float: left;
	width: 180px;
}

.formBox {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	min-width: 950px;
}

.formBox0 {
	height: 10px;
}

.formBox1 {
	width: 180px;
	height: 30px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
	border: 1px solid #D9D9D9;
	color: white;
	font-size: 16px;
}

.formBox2 {
	width: 280px;
	height: 30px;
	border: 1px solid #D9D9D9;
}

.formBox4 {
	height: 30px;
	border: 1px solid #D9D9D9;
}

.formBox5 {
	width: 925px;
}

.formBox6 {
	width: 180px;
	height: 50px;
}

#file {
	float: left;
	margin-top: 7px;
	margin-left: 5px;
}

.addFileBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);	
}

.formBtn1 {
	line-height: 50px;
	text-align: center;
	width: 180px;
	height: 50px;
	outline: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.formBtn1:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);	
}

#sign_emp_code, #sign_count, #sign_note {
	display: none;
}

.formInput1 {
	margin-top: 7px;
	width: 260px;
	height: 25px;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: bolder;
}

.formInput2 {
	margin-top: 7px;
	width: 722px;
	height: 30px;
	border: none;
	outline: none;
}

.formSelect1 {
	margin-top: 10px;
	width: 264px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 16px;
}

.formSelect2 {
	margin-top: 10px;
	width: 726px;
	height: 30px;
	border: none;
	outline: none;
	font-size: 16px;
}

.formResult1, .formResult2 {
	width: 180px;
	height: 360px;
	border: 1px solid #D9D9D9;
	background: #F5F5F5;
	overflow: auto;
}

.signHomeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.signListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.signListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

.joinForm1 {
	display: none;
	margin-top: 20px;
	margin-left: -750px;
	position: absolute;
	width: 620px;
	height: 510px;
}

.watcherForm1 {
	position: fixed;
	display: none;
	margin-top: -400px;
	margin-left: -750px;
	position: absolute;
	width: 620px;
	height: 510px;
}

.joinArrow {
	margin-left: 470px;
}

.joinForm2, .watcherForm2 {
	margin-top: -1px;
	width: 600px;
	height: 475px;
	border-radius: 20px;
	background: #F7F7F7;
	background: -webkit-linear-gradient(to top, #FFFFFF, #F7F7F7);
	background: linear-gradient(to top, #FFFFFF, #F7F7F7);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.joinForm3, .watcherForm3 {
	width: 600px;
	height: 40px;
}

.joinerSearchBox {
	margin-left: 15px;
	margin-top: 5px;
	width: 245px;
	height: 30px;
	border: none;
	border-radius: 10px;
	outline: none;
	font-size: 18px;
	font-weight: bolder;
}

.searchTitle {
	width: 600px;
	margin-left: 20px;
	margin-top: 10px;
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	font-weight: bolder;
}

.joinForm4, .watcherForm4 {
	margin-left: 10px;
	width: 580px;
	height: 425px;
}

.joinForm5, .watcherForm5 {
	float: left;
	width: 260px;
	height: 425px;
}

.joinForm6, .watcherForm6 {
	margin-top: 10px;
	float: left;
	width: 40px;
	height: 415px;
	border-radius: 10px;
}

.joinBtn1 {
	margin-top: 100px;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	line-height: 40px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
	cursor:pointer;
}

.joinBtn1:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
	
}

.joinForm7, .watcherForm7 {	
	margin-top: 5px;
	margin-left: 5px;
	width: 275px;
	height: 415px;
	background: white;
	border-radius: 10px;
}

.joinForm8, .watcherForm8 {
	width: 250px;
	height: 40px;
}

.joinInput1 {
	width: 272px;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	line-height: 40px;
	color: white;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
}

.joinForm9, .watcherForm9 {
	margin-top: 2px;
	margin-left: 1px;
	width: 275px;
	height: 370px;
	overflow: auto;
}
	
#resultBox1, #resultBox2, #resultBox3, #resultBox4 {
   	width: 125px;
    min-height:360px;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}

.resultBackground {
	width: 256px;
	height: 50px;
	cursor: pointer;
	background: #F7F7F7;
	background: -webkit-linear-gradient(to left, #FFFFFF, #F6F6F6);
	background: linear-gradient(to left, #FFFFFF, #F6F6F6);
	border: 1px solid #f7f7f7;
}

.resultImg {
	margin-top: 5px;
	width: 40px;
	height: 40px;
}

.result0 {
	vertical-align: top;	
	width: 50px;
	height: 50px;
	display: inline;
}

.result1 {
	display: none;
}

.result2 {
	height: 50px;
	font-size: 15px;
	font-weight: bolder;
	line-height: 50px;
	display: inline;	
}

.result3 {
	display: inline;
	font-size: 13px;
}

.form1 {
	margin-top: 100px;
}

.joinAlert {
	display: none;
	position: fixed;
  	margin: 0 auto;
   	left: 0;
   	right: 0;
	width: 400px;
	height: 80px;
	background: black;
	opacity: 0.8;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 80px;
}

.watcherAlert {
	display: none;
	position: fixed;
	margin: 0 auto;
	margin-top: -420px;	
   	left: 0;
   	right: 0;
	width: 400px;
	height: 80px;
	background: black;
	opacity: 0.8;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 80px;
}

.resultList {
	background: #F7F7F7;
	background: -webkit-linear-gradient(to left, #FFFFFF, #F6F6F6);
	background: linear-gradient(to left, #FFFFFF, #F6F6F6);
	border: 1px solid #f7f7f7;
}

.jName, .wName {
	width: 60px;
	height: 50px;
	font-size: 16px;
	font-weight: bolder;
	vertical-align:middle;
}

.jJob, .wJob {
	width: 90px;
	height: 50px;
	font-size: 12px;
	vertical-align:middle;
}

.jImg, .wImg {
	vertical-align: top;
	width: 50px;
	height: 50px;
}

.resultImg1 {
	margin-left: 5px;
	margin-top: 10px;
	width: 35px;
	height: 35px;
}
  