body {
	overflow-x: hidden;
}

.container {

}

.content {
	position: absolute;
	left: 180px;
	width: 100%;
	min-width: 1500px;
	height: 2000px;
}

.formRight {
	margin-top: 20px;
	float: left;
	width: 180px;
}

.formBox {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	min-width: 950px;
}

.formBox0 {
	height: 20px;
}

.formBox1 {
	width: 180px;
	height: 40px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
	border: 1px solid #D9D9D9;
	color: white;
	font-size: 17px;
	font-weight: bolder;
}

.formBox2 {
	width: 280px;
	height: 40px;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
}

.formBox4 {
	height: 30px;
	background: #F5F5F5;
	border: 1px solid #D9D9D9;
}

.formBox5 {
	width: 925px;
}

.formBox6 {
	width: 180px;
	height: 50px;
}

.formBtn1 {
	line-height: 50px;
	text-align: center;
	width: 180px;
	height: 50px;
	outline: none;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.formBtn1:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);	
}

.formInput1 {
	margin-top: 10px;
	width: 260px;
	height: 35px;
	border: none;
	outline: none;
}

.formInput2 {
	margin-top: 10px;
	width: 722px;
	height: 35px;
	border: none;
	outline: none;
}

.formSelect1 {
	margin-top: 10px;
	width: 264px;
	height: 35px;
	border: none;
	outline: none;
	font-size: 18px;
}

.formSelect2 {
	margin-top: 10px;
	width: 726px;
	height: 35px;
	border: none;
	outline: none;
	font-size: 18px;
}

.formResult1 {
	width: 180px;
	height: 360px;
	border: 1px solid #D9D9D9;
	background: #F5F5F5;
}

.signHomeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.signListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.signListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

#joinerSelect {
	margin-left: -250px;
	display: none;
	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 10px;
}

#joinerListArrow {
	margin-left: 320px;
	margin-top: -10px;
	width: 500px;
	height: 23px;
	opacity: 0.6;
}

#joinerListArea {
	margin-top: 100px;
	width: 500px;
	height: 420px;
    background-color: black;
    border-radius: 20px;
   	opacity: 0.6;
}

#joinerListForm {
	width: 480px;
	height: 400px;
	color: white;
	background: green;	
    border-radius: 20px;
}

.form1 {
	margin-top: 100px;
}