<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="address">
	<select id="total" parameterType="pagingInfo" resultType="int">
		select count(*)
		  from (select
		  		  case when emp_info_name <![CDATA[<]]> '가' then 15
		  		  	   when emp_info_name <![CDATA[<]]> '나' then 1
		  		  	   when emp_info_name <![CDATA[<]]> '다' then 2
		  		  	   when emp_info_name <![CDATA[<]]> '라' then 3
		  		  	   when emp_info_name <![CDATA[<]]> '마' then 4
		  		  	   when emp_info_name <![CDATA[<]]> '바' then 5
		  		  	   when emp_info_name <![CDATA[<]]> '사' then 6
		  		  	   when emp_info_name <![CDATA[<]]> '아' then 7
		  		  	   when emp_info_name <![CDATA[<]]> '자' then 8
		  		  	   when emp_info_name <![CDATA[<]]> '차' then 9
		  		  	   when emp_info_name <![CDATA[<]]> '카' then 10
		  		  	   when emp_info_name <![CDATA[<]]> '타' then 11
		  		  	   when emp_info_name <![CDATA[<]]> '파' then 12
		  		  	   when emp_info_name <![CDATA[<]]> '하' then 13
					   when emp_info_name >= '하' then 14
		  		   end as indexNum
		  		   	 , emp_info_name
		  		   	 , emp_info_phto
		  		   	 , emp_info_dept_code
		  		   	 , emp_info_job_code
		  		   	 , emp_info_email
		  		   	 , emp_info_mtel
		  		   	 , emp_info_cmp_code
		  		   	 , emp_info_edat
		  		  from emp_info
		  	   ) EI
		 inner join dept_info DI on (EI.emp_info_dept_code = DI.dept_info_code)
		 inner join job_info JI on (EI.emp_info_job_code = JI.job_info_code)
		 inner join cmp_info CI on (EI.emp_info_cmp_code = CI.cmp_info_code)
		 <where>
		 	   EI.emp_info_edat is null
			<if test="index != 0">
			   AND
			   EI.indexNum = #{index}
			</if>
		 
		 	<if test="name != ''">
		 		AND
		 		EI.emp_info_name like '%' || #{name} || '%'
		 	</if>
		 	
		 	<if test="email != ''">
		 		AND
		 		upper(EI.emp_info_email) like '%' || upper(#{email}) || '%'
		 	</if>
		 	
		 	<if test="tel != ''">
		 		AND
		 		EI.emp_info_mtel like '%' || #{tel} || '%'
		 	</if>
		 </where>
	</select>

	<select id="pagingEmp" parameterType="pagingInfo" resultType="addressInfo">
		select step2.empNo
			 , step2.name
			 , step2.photo
			 , step2.deptName
			 , step2.jobName
			 , step2.email
			 , step2.tel
			 , step2.cmpName
			 , step2.remark
		  from (select rownum rm
		  			 , step1.empNo
		  			 , step1.name
					 , step1.photo
					 , step1.deptName
					 , step1.jobName
					 , step1.email
					 , step1.tel
					 , step1.cmpName
					 , step1.remark
				  from (select EI.emp_info_emp_no as empNo
				  			 , EI.emp_info_name as name
							 , EI.emp_info_phto as photo
							 , DI.dept_info_name as deptName
							 , JI.job_info_name as jobName
							 , EI.emp_info_email as email
							 , EI.emp_info_mtel as tel
							 , CI.cmp_info_name as cmpName
							 , null as remark
						  from (select
						  		  case when emp_info_name <![CDATA[<]]> '가' then 15
						  		  	   when emp_info_name <![CDATA[<]]> '나' then 1
						  		  	   when emp_info_name <![CDATA[<]]> '다' then 2
						  		  	   when emp_info_name <![CDATA[<]]> '라' then 3
						  		  	   when emp_info_name <![CDATA[<]]> '마' then 4
						  		  	   when emp_info_name <![CDATA[<]]> '바' then 5
						  		  	   when emp_info_name <![CDATA[<]]> '사' then 6
						  		  	   when emp_info_name <![CDATA[<]]> '아' then 7
						  		  	   when emp_info_name <![CDATA[<]]> '자' then 8
						  		  	   when emp_info_name <![CDATA[<]]> '차' then 9
						  		  	   when emp_info_name <![CDATA[<]]> '카' then 10
						  		  	   when emp_info_name <![CDATA[<]]> '타' then 11
						  		  	   when emp_info_name <![CDATA[<]]> '파' then 12
						  		  	   when emp_info_name <![CDATA[<]]> '하' then 13
									   when emp_info_name >= '하' then 14
						  		   end as indexNum
						  		   	 , emp_info_emp_no
						  		   	 , emp_info_name
						  		   	 , emp_info_phto
						  		   	 , emp_info_dept_code
						  		   	 , emp_info_job_code
						  		   	 , emp_info_email
						  		   	 , emp_info_mtel
						  		   	 , emp_info_cmp_code
						  		   	 , emp_info_edat
						  		  from emp_info
						  	   ) EI
						 inner join dept_info DI on (EI.emp_info_dept_code = DI.dept_info_code)
						 inner join job_info JI on (EI.emp_info_job_code = JI.job_info_code)
						 inner join cmp_info CI on (EI.emp_info_cmp_code = CI.cmp_info_code)
						 <where>
						 	   EI.emp_info_edat is null
							<if test="index != 0">
							   AND
							   EI.indexNum = #{index}
							</if>
						 
						 	<if test="name != '' || empNo != null">
						 		AND
						 		EI.emp_info_name like '%' || #{name} || '%'
						 	</if>
						 	
						 	<if test="email != '' || empNo != null">
						 		AND
						 		upper(EI.emp_info_email) like '%' || upper(#{email}) || '%'
						 	</if>
						 	
						 	<if test="tel != '' || empNo != null">
						 		AND
						 		EI.emp_info_mtel like '%' || #{tel} || '%'
						 	</if>
						 </where>
						 order by EI.emp_info_name
				  	   ) step1
				 where rownum <![CDATA[<=]]> (#{nowPage} * #{perPage})
		  	   ) step2
		 where step2.rm >= (#{nowPage} * #{perPage} - #{perPage} + 1)
	</select>
	
	<select id="detail" parameterType="string" resultType="empInfoAll">
		select EI.emp_info_emp_no
			 , EI.emp_info_name
			 , EI.emp_info_phto
			 , EI.emp_info_dept_code
			 , EI.emp_info_job_code
			 , EI.emp_info_email
			 , EI.emp_info_mtel
			 , EI.emp_info_etel
			 , EI.emp_info_cmp_code
			 , DI.dept_info_name
			 , JI.job_info_name
			 , CI.cmp_info_name
		 from emp_info EI
		inner join dept_info DI on (EI.emp_info_dept_code = DI.dept_info_code)
		inner join job_info JI on (EI.emp_info_job_code = JI.job_info_code)
		inner join cmp_info CI on (EI.emp_info_cmp_code = CI.cmp_info_code) 
		  and EI.emp_info_emp_no = #{emp_no}
		  and EI.emp_info_edat is null
	</select>
</mapper>