<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendance">
	
	<select id="searchWithEmpNo" parameterType="map" resultType="attendanceInfo">
		select atdc_hstr_ordr
			 , atdc_hstr_emp_no
			 , to_char(atdc_hstr_dat, 'yyyy-MM-dd') as "atdc_hstr_dat"
			 , atdc_hstr_writ_type
			 , to_char(NEXT_DAY(trunc(to_date(#{date}, 'yyyy-MM-dd'), 'DD')-7, '일요일'), 'yyyy-MM-DD') as "atdc_hstr_stim"
			 , to_char(NEXT_DAY(trunc(to_date(#{date}, 'yyyy-MM-dd'), 'DD'), '토요일'), 'yyyy-MM-DD') as "atdc_hstr_etim"
			 , atdc_hstr_type
			 , floor(mod((atdc_hstr_etim - atdc_hstr_stim),1)*24) as "workTimeHour"
			 , floor(mod(mod((atdc_hstr_etim - atdc_hstr_stim),1)*24,1)*60) as "workTimeMinute"
			 , to_char(NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd')-7, '일요일'), 'yyyy-MM-DD') as "weekStartDate"
			 , to_char(NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd')-1, '토요일'), 'yyyy-MM-DD') as "weekEndDate"
		  from atdc_hstr
		 where atdc_hstr_emp_no = #{emp_no}
		   and to_date(#{date}, 'yyyy-MM-dd') >= atdc_hstr_dat
           and atdc_hstr_dat between NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd')-7, '일요일')
                                 and NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd'), '토요일')
		 order by atdc_hstr_dat desc
	</select>
		
	<select id="worktimePerWeek" parameterType="string" resultType="int">
		select CI.cmp_info_wokt
		  from cmp_info CI
		 inner join emp_info EI on(EI.emp_info_cmp_code = CI.cmp_info_code)
		 where emp_info_emp_no = #{emp_no}
	</select>		

	<select id="weekStackWorkTime" parameterType="map" resultType="weekStackInfo">
		select floor(mod(sum(atdc_hstr_etim - atdc_hstr_stim),1)*24) as "weekSumWorktimeHour"
			 , floor(mod(mod(sum(atdc_hstr_etim - atdc_hstr_stim),1)*24,1)*60) as "weekSumWorktimeMinute"
		  from atdc_hstr
		 where atdc_hstr_emp_no = #{emp_no}
		   and to_date(#{date}, 'yyyy-MM-dd') >= atdc_hstr_dat
		   and atdc_hstr_dat between NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd')-7, '일요일')
                    		     and NEXT_DAY(to_date(#{date}, 'yyyy-MM-dd')-1, '토요일')
	</select>

	<select id="weekStackWorkTimeNull" parameterType="map" resultType="weekStackInfo">
		select to_char(NEXT_DAY(trunc(to_date(#{date}, 'yyyy-MM-dd'), 'DD')-7, '일요일'), 'yyyy-MM-DD') as "weekStartDate"
			 , to_char(NEXT_DAY(trunc(to_date(#{date}, 'yyyy-MM-dd'), 'DD')-1, '토요일'), 'yyyy-MM-DD') as "weekEndDate"
			 , 0 as "weekSumWorktimeHour"
			 , 0 as "weekSumWorktimeMinute"
			 , 0 as "weekOverWorktimeHour"
			 , 0 as "weekOverWorktimeMinute"
			 , 0 as "weekRemainWorktimeHour"
			 , 0 as "weekRemainWorktimeMinute"
		  from dual
	</select>
</mapper>