<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->

<mapper namespace="comu">

<resultMap type="com.kh.circle.comu.entity.Comu" id="comuList">
	<id property="comu_post_ordr" column="comu_post_ordr"/>
	<id property="comu_post_wrtr_emp_no" column="comu_post_wrtr_emp_no"/>
	<id property="comu_post_title" column="comu_post_title"/>
	<id property="comu_post_cont" column="comu_post_cont"/>
	<id property="comu_post_dat" column="comu_post_dat"/>
	<id property="comu_post_view" column="comu_post_view"/>
	<id property="comu_post_comu_code" column="comu_post_comu_code"/>
	<id property="comu_post_type" column="comu_post_type"/>
</resultMap>

<resultMap type="com.kh.circle.comu.entity.ComuInfo" id="comuInfoMap">
	<id property="comu_info_emp_no" column="comu_info_emp_no"/>
	<id property="comu_info_comu_code" column="comu_info_comu_code"/>
	<id property="comu_info_sdat" column="comu_info_sdat"/>
	<id property="comu_info_edat" column="comu_info_edat"/>
	<id property="comu_info_comu_job_code" column="comu_info_comu_job_code"/>
	<id property="comu_info_rm" column="comu_info_rm"/>
	<id property="comu_info_join" column="comu_info_join"/>
	<id property="comu_info_join_rqst_dat" column="comu_info_join_rqst_dat"/>
	
</resultMap>

<resultMap type="com.kh.circle.comu.entity.ComuList" id="comuListMap">
	<id property="comu_list_code" column="comu_list_code"/>
	<id property="comu_list_name" column="comu_list_name"/>
	
</resultMap>

<resultMap type="com.kh.circle.comu.entity.ComuRepl" id="comuReplMap">
<collection property="comu_repl_ordr" resultMap="comu_repl_ordr"/>
<collection property="comu_repl_post_ordr" resultMap="comu_repl_post_ordr"/>
<collection property="comu_repl_content" resultMap="comu_repl_content"/>
<collection property="comu_repl_date" resultMap="comu_repl_date"/>
<collection property="comu_repl_emp_no" resultMap="comu_repl_emp_no"/>
</resultMap>

<!-- 게시글 목록 -->

<select id="comuListarticle" resultType="int">
	select count(*) from comu_post
</select>

<select id="comuList" resultType="Comu">
	<include refid="paging_header"></include>
		select * 
from comu_post c, emp_info e, comu_list l
where c.COMU_POST_WRTR_EMP_NO = e.emp_info_emp_no 
and c.COMU_POST_COMU_CODE = l.COMU_LIST_CODE
order by comu_post_ordr desc
	<include refid="paging_footer"></include>
</select>

<sql id="paging_header">
select * 
from(select rownum as rn,A.*
from(
</sql>
<sql id="paging_footer">
		)A
	)
where rn between #{start} and #{end}
</sql>

<!-- comuNameList -->
<select id="comuNameList" resultType="ComuList" >
	 
	   SELECT * FROM comu_list
<!-- 	  select *
	from comu_post c, comu_list l
	 where c.COMU_POST_COMU_CODE = l.comu_list_code -->
	 
</select>

	<!-- 사원번호 가져오기 -->
	<select id="add2" parameterType="String" resultType="String">
		select emp_info_name
			from emp_info
			where emp_info_emp_no = #{emp_no}
	</select>
	
	
	<!-- 게시판 작성 -->			<!-- 별칭 -->
	<insert id="insert" parameterType="comu">
		insert into comu_post(
		comu_post_ordr,
		comu_post_wrtr_emp_no,
		comu_post_title,
		comu_post_cont,
		comu_post_dat,
		comu_post_view,
		comu_post_comu_code,
		comu_post_type
		)
		values
		(
				copo_seq.nextval
			, #{comu_post_wrtr_emp_no}
			, #{comu_post_title}
			, #{comu_post_cont}
			, sysdate
			, 0
			, #{comu_post_comu_code}
			, '1'
		)
	</insert>
	
	<!-- 게시글 상세 보기 -->
	<select id="comuDetail" resultType="comu" parameterType="String">
	select *
	from comu_post c
	join comu_list l on(c.comu_post_comu_code = l.comu_list_code)
	join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
	where c.comu_post_ordr = #{comu_post_ordr}
	</select>
	
	<!-- 조회수 카운트 -->
	<update id="CountView">
		update comu_post
		set comu_post_view = comu_post_view + 1
		where comu_post_ordr = #{comu_post_ordr}
	</update>
	
	
	<!-- 수정글로 입장 -->
	<select id="comuCheck" parameterType="String" resultType="comu">
			select *
		from comu_post c
		join comu_list l on (c.comu_post_comu_code = l.comu_list_code)
		join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
		where e.emp_info_name = #{emp_info_name}
	</select>
	
	
	<!-- 게시글 수정 -->
	<update id="ComuUpdate">
		update comu_post
		set 
	</update>
</mapper>




