<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->

<mapper namespace="comu">



<!-- 게시글 목록 -->

<select id="comuListarticle" resultType="int">
	select count(*) from comu_post
</select>

<!-- 게시글 조회 -->
<select id="comuList" resultType="Comu">
	<include refid="paging_header"></include>
		select * 
from comu_post c, emp_info e, comu_list l
where c.COMU_POST_WRTR_EMP_NO = e.emp_info_emp_no 
and c.COMU_POST_LIST_CODE = l.COMU_LIST_CODE
	and c.comu_post_type ='1'
order by comu_post_ordr desc
	<include refid="paging_footer"></include>
</select>

<!-- 동호회 별 게시글 조회 -->
<select id="comuListPost" resultType="comu" parameterType="String">
	
			select * 
from comu_post c, emp_info e, comu_list l
where c.comu_post_wrtr_emp_no = e.emp_info_emp_no 
and c.comu_post_list_code = l.comu_list_code
and l.comu_list_code = #{comu_list_code}
order by comu_post_ordr desc
</select>

<select id="comuAppList" resultType="comu" parameterType="String">
	
		select * 
from comu_post c, emp_info e, comu_list l ,job_info j
where c.COMU_POST_WRTR_EMP_NO = e.emp_info_emp_no 
and c.COMU_POST_LIST_CODE = l.COMU_LIST_CODE
and e.emp_info_job_code = j.job_info_code
	and c.comu_post_type ='2'
order by comu_post_ordr desc
</select>

<sql id="paging_header">
select * 
from(select rownum as rn,A.*
from(
</sql>

<sql id="paging_footer">
		)A
	)
where rn between #{start} and #{end}
</sql>



<!-- comuNameList -->
<select id="comuNameList" resultType="ComuList" >
	<!-- SELECT distinct l.comu_list_name ,l.comu_list_code
FROM comu_list l
join comu_post p on(l.comu_list_code =p.comu_post_list_code)
join emp_info e on(p.comu_post_wrtr_emp_no = e.emp_info_emp_no)
join comu_info c on(l.comu_list_code = c.comu_info_comu_code)
where c.comu_info_emp_no = #{comu_info_emp_no} -->

	<!-- SELECT distinct l.comu_list_name ,l.comu_list_code
FROM comu_list l
join comu_post p on(l.comu_list_code =p.comu_post_list_code)
join emp_info e on(p.comu_post_wrtr_emp_no = e.emp_info_emp_no) -->
<!--  where emp_info_emp_no =#{emp_info_emp_no}  -->
	  SELECT * FROM comu_list 
  <!-- select *
	from comu_post c, comu_list l
	 where c.COMU_POST_COMU_CODE = l.comu_list_code -->
	 
</select>

	<!-- 사원번호 가져오기 -->
	<select id="add2" parameterType="String" resultType="String">
		select emp_info_name
			from emp_info
			where emp_info_emp_no = #{emp_no}
	</select>
	
	
	<!-- 게시판 작성 -->			<!-- 별칭 -->
	<insert id="insert" parameterType="comu">
		insert into comu_post(
		comu_post_ordr,
		comu_post_title,
		comu_post_cont,
		comu_post_dat,
		comu_post_view,
		comu_post_type,
		comu_post_list_code,
		comu_post_wrtr_emp_no
		)
		values
		(
				copo_seq.nextval
			, #{comu_post_title}
			, #{comu_post_cont}
			, sysdate
			, 0
			, '1'
			, #{comu_post_list_code}
			, #{comu_post_wrtr_emp_no}
		)
		
<!-- INSERT INTO COMU_POST(COMU_POST_ORDR,COMU_POST_TITLE,COMU_POST_CONT,COMU_POST_DAT,COMU_POST_VIEW,COMU_POST_TYPE,COMU_POST_LIST_CODE,COMU_POST_WRTR_EMP_NO)
    VALUES(copo_seq.nextval,'예시데이터33','예시데이터글내용',sysdate,0,'1','COLI000001','200101090031');
		 -->
		
	</insert>
	
	<!-- 게시글 상세 보기 -->
	<select id="comuDetail" resultType="comu" parameterType="String">
	select *
	from comu_post c
	join comu_list l on(c.comu_post_list_code = l.comu_list_code)
	join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
	where c.comu_post_ordr = #{comu_post_ordr}

	</select>
	<!-- 가입 신청서 상세보기 -->
	<select id="appDetail" resultType="comu" parameterType="String" >
	 <!-- select *
	from comu_post c
	join comu_list l on(c.comu_post_list_code = l.comu_list_code)
	join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
    join job_info j on(e.emp_info_job_code = j.job_info_code)
	where c.comu_post_ordr = #{comu_post_ordr} -->
	select *
	from comu_post c
	join comu_list l on(c.comu_post_list_code = l.comu_list_code)
	join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
    join job_info j on(e.emp_info_job_code = j.job_info_code)
    join comu_info i on(i.comu_info_comu_code = l.comu_list_code)
    where c.comu_post_ordr =  #{comu_post_ordr}
    and i.comu_info_comu_job_code like '일반%'
	</select>
	<!-- 조회수 카운트 -->
	<update id="CountView">
		update comu_post
		set comu_post_view = comu_post_view + 1
		where comu_post_ordr = #{comu_post_ordr}
	</update>
	
	

	<!-- 게시글 수정 -->
	<select id="comuCheck" parameterType="String" resultType="Comu">
			select *
		from comu_post c
		join comu_list l on (c.comu_post_list_code = l.comu_list_code)
		join emp_info e on (c.comu_post_wrtr_emp_no = e.emp_info_emp_no)
		where c.comu_post_ordr = #{comu_post_ordr}
	</select>
	<update id="comuUpdate" parameterType="comu">
		update comu_post
		set comu_post_title
		= #{comu_post_title}, comu_post_cont=#{comu_post_cont},
		comu_post_dat=SYSDATE
		where comu_post_ordr=#{comu_post_ordr}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="comuDelete" parameterType="String">
		delete from comu_post where comu_post_ordr=#{comu_post_ordr}
	</delete>
	<!-- 가입신청서 삭제 -->
	<delete id="appDelete" parameterType="String">
		delete from comu_post where comu_post_ordr=#{comu_post_ordr}
	</delete>
	
	<!-- 동호회 리스트 가져오기 -->
	<select id="comuListName" parameterType="String" resultType="comuList">
	 <!-- SELECT 
    distinct l.comu_list_name ,
    i.comu_info_comu_job_code,
    l.comu_list_code,
    e.emp_info_name,
    j.job_info_name
    FROM comu_list l
    join comu_info i on(l.comu_list_code=i.comu_info_comu_code)
    join emp_info e on(i.comu_info_emp_no=e.emp_info_emp_no)
    join job_info j on(e.emp_info_job_code=j.job_info_code)
    join comu_post c on(c.comu_post_list_code = l.comu_list_code)
    where i.comu_info_comu_job_code like '대표%'
    and c.comu_post_type = '1' -->
	  SELECT 
    * 
    FROM comu_list l
    join comu_info i on(l.comu_list_code=i.comu_info_comu_code)
    join emp_info e on(i.comu_info_emp_no=e.emp_info_emp_no)
    join job_info j on(e.emp_info_job_code=j.job_info_code)
    where i.comu_info_comu_job_code like '대표%'
    
	</select>
	<!-- 가입신청서에 동호회 이름 가져오기 -->
	<select id="comuApp" parameterType="String" resultType="comuList">
		select *
		from 
		comu_list
	 where comu_list_code=#{comu_list_code} 
	</select>
	<!-- 사원 번호 가져오기 -->
	<select id="app2" parameterType="String" resultType="String">
		select emp_info_name
			from emp_info
			where emp_info_emp_no = #{emp_no}
	</select>
	<!-- 가입신청서 작성하기 -->
	<insert id="comuAppAction" parameterType="comu">
	insert into comu_post(
		comu_post_ordr,
		comu_post_title,
		comu_post_cont,
		comu_post_dat,
		comu_post_view,
		comu_post_type,
		comu_post_list_code,
		comu_post_wrtr_emp_no
		)
		values
		(
				copo_seq.nextval
			, #{comu_post_title}
			, #{comu_post_cont}
			, sysdate
			, 0
			, '2'
			, #{comu_post_list_code}
			, #{comu_post_wrtr_emp_no}
		)
		
	</insert>
	
	
	<!-- 동호회 LeftBar 리스트 가져오기 -->
	<select id="leftListName" parameterType="String" resultType="String">
		select emp_info_name
			from emp_info
			where emp_info_emp_no = #{emp_no} 
		<!-- 	select 
        *
from emp_info e
join comu_info i on(i.comu_info_emp_no = e.emp_info_emp_no)
join comu_list l on(i.comu_info_comu_code = l.comu_list_code)
where e.emp_info_emp_no = #{emp_no} -->
	</select>
	<select id="leftList" parameterType="String" resultType="empInfo">
		select 
        *
from emp_info e
join comu_info i on(i.comu_info_emp_no = e.emp_info_emp_no)
join comu_list l on(i.comu_info_comu_code = l.comu_list_code)
where e.emp_info_emp_no = '200101090031'
	</select>
	
	<!-- 사원번호 가져오기 -->
	
	<select id="empNo" resultType="String" parameterType="string">
		 select emp_info_emp_no
		from  emp_info 
		where emp_info_emp_no =  #{emp_no}

	</select>
	
	<select id="viewEmpNo"  resultType="String" parameterType="string">
	select comu_post_wrtr_emp_no
	from comu_post
	where comu_post_ordr = #{comu_post_ordr}
	</select>
	
	<!-- comuInfoNo 가져오기 -->
	<select id="comuInfoNo" resultType="String" parameterType="string">
	 select i.comu_info_comu_code
			from comu_info i
            join comu_list l on(l.comu_list_code = i.comu_info_comu_code)
			where comu_info_emp_no =#{comu_info_emp_no}
	
		<!-- select comu_info_emp_no
		from comu_post
		where comu_info_emp_no =#{comu_info_emp_no} -->
	</select>
	
	<!-- 동호회 가입 시키기 -->
	<select id="comuApp3"  resultType="comuList" parameterType="string">
		    SELECT * FROM comu_list 
	</select>
	
	<select id="comuApp4"  resultType="String" parameterType="string">
		   <!--  select i.comu_info_comu_code
			from emp_info e
			join e.comu_info i on(e.emp_info_emp_no = i.comu_info_emp_no)
			where e.emp_info_emp_no = #{emp_no} 
			and i.comu_info_comu_code = #{comu_info_comu_code} -->
			
			<!--  select emp_info_name
			from emp_info
			where emp_info_emp_no = #{emp_no}   -->
		select comu_info_comu_code
			from comu_info
			where comu_info_emp_no = #{emp_no}
	</select>

		<insert id="comuInfoInsert" parameterType="comu">
insert into comu_info
(comu_info_emp_no, 
comu_info_comu_code, 
comu_info_sdat,
comu_info_comu_job_code,
comu_info_join, 
comu_info_join_rqst_dat
)
    VALUES(
    #{comu_info_emp_no}, 
    #{comu_info_comu_code},
    SYSDATE,
    '일반회원',
    'Y' , 
    TO_DATE('2020-10-13', 'YYYY-MM-DD'))
	</insert>
</mapper>


