<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empInfo">
	
	<select id="searchWithEmpNo" parameterType="string" resultType="empInfoAll">
		select EI.emp_info_emp_no
			 , EI.emp_info_name
			 , EI.emp_info_phto
			 , EI.emp_info_dept_code
			 , EI.emp_info_job_code
			 , EI.emp_info_email
			 , EI.emp_info_mtel
			 , EI.emp_info_etel
			 , EI.emp_info_cmp_code
			 , EI.emp_info_rm
			 , rpad(substr(EI.emp_info_id_no,1,8), length(EI.emp_info_id_no), '*') as emp_info_id_no
			 , EI.emp_info_gend
			 , EI.emp_info_adr
			 , EI.emp_info_emrg_tel
			 , EI.emp_info_mrrg
			 , EI.emp_info_acnt_no
			 , EI.emp_info_bank_name
			 , EI.emp_info_acnt_name
			 , EI.emp_info_impd_type
			 , EI.emp_info_impd_levl
			 , EI.emp_info_vetr_no
			 , EI.emp_info_vetr_rel
			 , EI.emp_info_mils
			 , to_char(EI.emp_info_sdat, 'yyyy-MM-dd') as emp_info_sdat
			 , to_char(EI.emp_info_edat, 'yyyy-MM-dd') as emp_info_edat
			 , DI.dept_info_name
			 , JI.job_info_name
		 from emp_info EI
		inner join dept_info DI on (EI.emp_info_dept_code = DI.dept_info_code)
		inner join job_info JI on (EI.emp_info_job_code = JI.job_info_code) 
		  and EI.emp_info_emp_no = #{emp_no}
	</select>
	
	<select id="total" parameterType="pagingInfo" resultType="int">
		select count(*)
		  from emp_info EI
		 inner join dept_info DI on(EI.emp_info_dept_code = DI.dept_info_code)
		 inner join job_info JI on(EI.emp_info_job_code = JI.job_info_code)
	   <where>
		 	   EI.emp_info_edat is null
			<if test="empNo !=null and !empNo.equals('')">
				AND
				EI.emp_info_emp_no like '%' || #{empNo} || '%'
			</if>
		 	 	
			<if test="name !=null and !name.equals('')">
		 		AND
		 		EI.emp_info_name like '%' || #{name} || '%'
		 	</if>
		 	
			<if test="deptName !=null and !deptName.equals('')">
		 		AND
				DI.dept_info_name like '%' || #{deptName} || '%'
		 	</if>
	  </where>
	  	 order by EI.emp_info_emp_no
	</select>
	
	
	
	<select id="empList" parameterType="pagingInfo" resultType="empInfoAll">
		select emp_info_emp_no
			 , emp_info_name
			 , dept_info_name
			 , job_info_name
			 , emp_info_email
			 , emp_info_etel
		  from (select rNum
					 , emp_info_emp_no
					 , emp_info_name
					 , dept_info_name
					 , job_info_name
					 , emp_info_email
					 , emp_info_etel
				  from (select rownum as rNum
							 , emp_info_emp_no
							 , emp_info_name
							 , dept_info_name
							 , job_info_name
							 , emp_info_email
							 , emp_info_etel
						  from (select EI.emp_info_emp_no
									 , EI.emp_info_name
									 , DI.dept_info_name
									 , JI.job_info_name
									 , EI.emp_info_email
									 , EI.emp_info_etel
									 , EI.emp_info_edat
								  from emp_info EI
								 inner join dept_info DI on(EI.emp_info_dept_code = DI.dept_info_code)
								 inner join job_info JI on(EI.emp_info_job_code = JI.job_info_code)
							   <where>
								 	   EI.emp_info_edat is null
									<if test="empNo !=null and !empNo.equals('')">
										AND
										EI.emp_info_emp_no like '%' || #{empNo} || '%'
									</if>
 							 	 	
								 	<if test="name !=null and !name.equals('')">
								 		AND
								 		EI.emp_info_name like '%' || #{name} || '%'
								 	</if>
								 	
								 	<if test="deptName !=null and !deptName.equals('')">
								 		AND
										DI.dept_info_name like '%' || #{deptName} || '%'
								 	</if>
							  </where>
							  	 order by EI.emp_info_emp_no
						  	   )
				  	   )
				 where rNum <![CDATA[<=]]> (#{nowPage} * #{perPage})
		  	   )
		 where rNum >= (#{nowPage} * #{perPage} - #{perPage} + 1)
	</select>
	
	<select id="checkPwd" parameterType="map" resultType="string">
		select emp_info_pwd
		  from emp_info
		 where emp_info_emp_no = #{emp_no}
	</select>
	
</mapper>