<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="student">
	
	<!-- 
		데이터베이스 이용에 필요한 구문을 작성는 영역
		- 가급적 한 테이블만 접근하도록 구성
		- CRUD에 맞는 태그를 사용 
			- C : insert
			- R : select
			- U : update
			- D : delete
			
		- id : 외부에서 구문을 호출하기 위한 식별자(namespace와 같이 사용) - 필수
		- parameterType : 구문 실행을 위해 전달되는 데이터의 형태(별칭 사용 가능, alias)
		- resultType : 결과물(ResultSet)이 변환될 형태. 단일/목록 모두 단위 형태를 기재
		
		- #{name} : 전달되는 데이터 묶음에서 name이라는 이름을 가진 데이터를 형태에 맞게 채워라(동적 바인딩). name은 변할 수 있음
	-->
	
	
	
</mapper>