<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="infoModify">
	<select id="searchWithEmpNo" parameterType="string" resultType="infoModify">
		select IMH.info_mod_hstr_ordr
			 , IMH.info_mod_hstr_emp_no
			 , to_char(info_mod_hstr_dat, 'yyyy-MM-dd') as "info_mod_hstr_dat"
			 , info_mod_hstr_col
             , decode(upper(IMH.info_mod_hstr_col), 'EMP_INFO_ETEL', '내선번호'
												  , 'EMP_INFO_MTEL', '휴대전화번호'
												  , 'EMP_INFO_EMAIL', '이메일'
												  , 'EMP_INFO_PWD', '비밀번호'
												  , 'EMP_INFO_MRRG', '결혼여부'
												  , 'EMP_INFO_VETR_NO', '보훈번호'
												  , 'EMP_INFO_VETR_REL', '관계'
												  , 'EMP_INFO_IMPD_TYPE', '장애종류'
												  , 'EMP_INFO_IMPD_LEVL', '장애급수'
												  , 'EMP_INFO_MILS', '병역여부'
												  , 'EMP_INFO_ADR', '주소'
												  , 'EMP_INFO_EDAT', '퇴사일'
												  , 'EMP_INFO_EMRG_TEL', '비상연락처'
												  , 'EMP_INFO_BANK_NAME', '은행이름'
												  , 'EMP_INFO_ACNT_NAME', '예금주명'
												  , 'EMP_INFO_ACNT_NO', '계좌번호') as "info_mod_hstr_col_name"
			 , decode(upper(IMH.info_mod_hstr_col), 'EMP_INFO_PWD', REGEXP_REPLACE( IMH.info_mod_hstr_befr, '[[:print:]]', '*'), IMH.info_mod_hstr_befr) as "info_mod_hstr_befr"
			 , decode(upper(IMH.info_mod_hstr_col), 'EMP_INFO_PWD', REGEXP_REPLACE( IMH.info_mod_hstr_aftr, '[[:print:]]', '*'), IMH.info_mod_hstr_aftr) as "info_mod_hstr_aftr"												  
			 , IMH.info_mod_hstr_mdfr
			 , EI.emp_info_name as "emp_info_mdfr_name"
		  from info_mod_hstr IMH
		 inner join emp_info EI on (IMH.info_mod_hstr_mdfr = EI.emp_info_emp_no)
		 where info_mod_hstr_emp_no = #{emp_no}
		 order by info_mod_hstr_dat desc
	</select>
		
	<select id="colName" parameterType="empInfoAll" resultType="map">
		select #{emp_info_etel} as "emp_info_etel" 
			 , #{emp_info_mtel} as "emp_info_mtel"
			 , #{emp_info_email} as "emp_info_email"
			 , #{emp_info_pwd} as "emp_info_pwd"  
			 , upper(#{emp_info_mrrg}) as "emp_info_mrrg"
			 , #{emp_info_vetr_no} as "emp_info_vetr_no"
			 , #{emp_info_vetr_rel} as "emp_info_vetr_rel"
			 , #{emp_info_impd_type} as "emp_info_impd_type"
			 , #{emp_info_impd_levl} as "emp_info_impd_levl"
			 , upper(#{emp_info_mils}) as "emp_info_mils"
			 , #{emp_info_adr} as "emp_info_adr"
			 , to_char(#{emp_info_edat}, 'yyyy-MM-dd') as "emp_info_edat"
			 , #{emp_info_emrg_tel} as  "emp_info_emrg_tel"
			 , #{emp_info_bank_name} as "emp_info_bank_name"
			 , #{emp_info_acnt_name} as "emp_info_acnt_name"
			 , #{emp_info_acnt_no} as "emp_info_acnt_no"
		  from dual
	</select>
	
	<select id="addChange" parameterType="map">
		insert into info_mod_hstr
		
			 ( info_mod_hstr_ordr
			 , info_mod_hstr_emp_no
			 , info_mod_hstr_dat
			 , info_mod_hstr_col
			 , info_mod_hstr_befr
			 , info_mod_hstr_aftr
			 , info_mod_hstr_mdfr
		  	 )
		  	 
		values
			 ( inmh_seq.nextval
			 , #{emp_info_emp_no}
			 , sysdate
			 , #{col}
			 , #{befr}
			 , #{aftr}
			 , #{mdr_emp_no}
			 )	
	</select>
	
</mapper>