<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="iss">

	
	<select id="issList" resultType="iss">
		select * from iss i 
		join project pr on (i.iss_pro_code = pr.pro_code)
		join emp_info e on(i.iss_emp_no = e.emp_info_emp_no)
		join prog p on (i.iss_prog_code = p.prog_code)
		join situ s on (i.iss_situ_code = s.situ_code)
		 order by iss_situ_code desc
	</select>
	
</mapper>