<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="empInfo">
	<select id="login" parameterType="empInfo" resultType="empInfo" >
	<!-- select * from EMP_INFO where EMP_INFO_EMP_NO=#{EMP_INFO_EMP_NO} and EMP_INFO_PWD=#{EMP_INFO_PWD} -->
<!-- 		select * from EMP_INFO join JOB_INFO ON(JOB_INFO_CODE = EMP_INFO_JOB_CODE) where EMP_INFO_EMP_NO=#{EMP_INFO_EMP_NO} and EMP_INFO_PWD=#{EMP_INFO_PWD}
 -->	
 	select * from emp_info
	where emp_info_emp_no=#{emp_info_emp_no}
	and emp_info_pwd=#{emp_info_pwd}
 </select>
</mapper>