<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="poll">

	<!-- 설문 결과 조회 -->
	<select id="getResult" parameterType="map" resultMap="getMap">
		select * form poll_post_qust where false
	</select>
	<resultMap type="hashMap" id="getMap"></resultMap>
	
	<!-- 홈 설문 목록 조회 -->
	<select id="homeList" parameterType="String" resultMap="homeMap">
    select  <![CDATA[ ROWNUM ]]>
          , poll_post_code
          , POLL_POST_NAME
          , POLL_POST_SEC
          , POLL_POST_SDAT
          , POLL_POST_EDAT   
          , POLL_POST_CLOSING
          , POLL_POST_QUST_ANSW_join_emp
          , EMP_INFO_NAME
          , JOB_INFO_NAME		
       from (select  poll_post_code
                   , POLL_POST_NAME
                   , POLL_POST_SEC
                   , to_char(POLL_POST_SDAT, 'YYYY-MM-DD') as POLL_POST_SDAT
                   , to_char(POLL_POST_EDAT, 'YYYY-MM-DD') as POLL_POST_EDAT 
                   , POLL_POST_CLOSING  
                   , count(POLL_POST_QUST_ANSW_join_emp) as POLL_POST_QUST_ANSW_join_emp
                   , EMP_INFO_NAME
                   , JOB_INFO_NAME
                from poll_post
                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
                join emp_info on (poll_post_emp = emp_info_emp_no)
                join job_info on (emp_info_job_code = job_info_code)
                join poll_post_join on (poll_post_code = poll_join_post)
               where poll_post_stat = 'Y'
                 and poll_join_emp = #{empNo}
            group by poll_post_code          
                   , POLL_POST_NAME
                   , POLL_POST_SEC
                   , POLL_POST_SDAT
                   , POLL_POST_EDAT
                   , POLL_POST_CLOSING
                   , EMP_INFO_NAME
                   , JOB_INFO_NAME)
      where <![CDATA[ ROWNUM <= 10 ]]>
	</select>
	<resultMap type="hashMap" id="homeMap">
	</resultMap>
	
	<!-- 진행중인 설문 총 개수 조회(검색 적용) -->
	<select id="countTotalProgressPost"  parameterType="pagination" resultType="int">
		select count(1) as cnt
		  from (select count(poll_post_code)
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join emp_info on (poll_post_emp = emp_info_emp_no)
		                join job_info on (emp_info_job_code = job_info_code)
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_join_emp = #{empNo}
		                 and <![CDATA[ poll_post_sdat <= sysdate ]]>
               			 and <![CDATA[ poll_post_edat >= sysdate ]]>
		                 and poll_post_closing != 'Y'
		                 and poll_post_name like '%${searchTitle}%'
           				 and emp_info_name like '%${searchWriter}%'
		            group by poll_post_code)
	</select>

	<!-- 진행중인 설문 조회(페이지/검색 적용) -->	
	<select id="progressList" parameterType="pagination" resultMap="progressMap">
   		 select X.rnum
		      , X.poll_post_code
		      , X.POLL_POST_NAME
		      , X.POLL_POST_SEC
		      , X.POLL_POST_SDAT
		      , X.POLL_POST_EDAT   
		      , X.POLL_POST_CLOSING
		      , X.POLL_POST_QUST_ANSW_join_emp
		      , X.EMP_INFO_NAME
		      , X.JOB_INFO_NAME	
		   from (select ROWNUM rnum
		          , A.poll_post_code
		          , A.POLL_POST_NAME
		          , A.POLL_POST_SEC
		          , A.POLL_POST_SDAT
		          , A.POLL_POST_EDAT   
		          , A.POLL_POST_CLOSING
		          , A.POLL_POST_QUST_ANSW_join_emp
		          , A.EMP_INFO_NAME
		          , A.JOB_INFO_NAME		
		       from (select  poll_post_code
		                   , POLL_POST_NAME
		                   , POLL_POST_SEC
		                   , to_char(POLL_POST_SDAT, 'YYYY-MM-DD') as POLL_POST_SDAT
		                   , to_char(POLL_POST_EDAT, 'YYYY-MM-DD') as POLL_POST_EDAT 
		                   , POLL_POST_CLOSING  
		                   , count(POLL_POST_QUST_ANSW_join_emp) as POLL_POST_QUST_ANSW_join_emp
		                   , EMP_INFO_NAME
		                   , JOB_INFO_NAME
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join emp_info on (poll_post_emp = emp_info_emp_no)
		                join job_info on (emp_info_job_code = job_info_code)
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_join_emp = #{empNo}
		                 and <![CDATA[ poll_post_sdat <= sysdate ]]>
	                 	 and <![CDATA[ poll_post_edat >= sysdate ]]>
		                 and poll_post_closing != 'Y'
		                 and poll_post_name like '%${searchTitle}%'
               		 	 and emp_info_name like '%${searchWriter}%'
		            group by poll_post_code          
		                   , POLL_POST_NAME
		                   , POLL_POST_SEC
		                   , POLL_POST_SDAT
		                   , POLL_POST_EDAT
		                   , POLL_POST_CLOSING
		                   , EMP_INFO_NAME
		                   , JOB_INFO_NAME) A
		        where <![CDATA[ rownum <=]]>#{end}) X 
	<![CDATA[ where X.rnum >= ]]>#{start}
	</select>
	<resultMap type="hashMap" id="progressMap"></resultMap>
	
	<!-- 마감된 설문 총 개수 조회(검색 적용) -->
	<select id="countTotalFinishedPost"  parameterType="pagination" resultType="int">
		select count(1) as cnt
		  from (select count(poll_post_code)
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join emp_info on (poll_post_emp = emp_info_emp_no)
		                join job_info on (emp_info_job_code = job_info_code)
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_join_emp = #{empNo}
		                 and <![CDATA[ poll_post_sdat <= sysdate ]]>
               			 and <![CDATA[ poll_post_edat < sysdate ]]> 
               			 and poll_post_closing != 'Y'
		                 and poll_post_name like '%${searchTitle}%'
           				 and emp_info_name like '%${searchWriter}%'
		            group by poll_post_code)
	</select>
	
	<!-- 마감된 설문 조회(페이지/검색 적용) -->	
	<select id="finishedList" parameterType="pagination" resultMap="finishedMap">
		 select X.rnum
		      , X.poll_post_code
		      , X.POLL_POST_NAME
		      , X.POLL_POST_SEC
		      , X.POLL_POST_SDAT
		      , X.POLL_POST_EDAT   
		      , X.POLL_POST_CLOSING
		      , X.POLL_POST_QUST_ANSW_join_emp
		      , X.EMP_INFO_NAME
		      , X.JOB_INFO_NAME	
		   from (select ROWNUM rnum
		          , A.poll_post_code
		          , A.POLL_POST_NAME
		          , A.POLL_POST_SEC
		          , A.POLL_POST_SDAT
		          , A.POLL_POST_EDAT   
		          , A.POLL_POST_CLOSING
		          , A.POLL_POST_QUST_ANSW_join_emp
		          , A.EMP_INFO_NAME
		          , A.JOB_INFO_NAME		
		       from (select  poll_post_code
		                   , POLL_POST_NAME
		                   , POLL_POST_SEC
		                   , to_char(POLL_POST_SDAT, 'YYYY-MM-DD') as POLL_POST_SDAT
		                   , to_char(POLL_POST_EDAT, 'YYYY-MM-DD') as POLL_POST_EDAT 
		                   , POLL_POST_CLOSING  
		                   , count(POLL_POST_QUST_ANSW_join_emp) as POLL_POST_QUST_ANSW_join_emp
		                   , EMP_INFO_NAME
		                   , JOB_INFO_NAME
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join emp_info on (poll_post_emp = emp_info_emp_no)
		                join job_info on (emp_info_job_code = job_info_code)
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_join_emp = #{empNo}
		                 and <![CDATA[ poll_post_sdat <= sysdate ]]>
	                 	 and <![CDATA[ poll_post_edat < sysdate ]]>
		                 and poll_post_closing != 'Y'
		                 and poll_post_name like '%${searchTitle}%'
               		 	 and emp_info_name like '%${searchWriter}%'
		            group by poll_post_code          
		                   , POLL_POST_NAME
		                   , POLL_POST_SEC
		                   , POLL_POST_SDAT
		                   , POLL_POST_EDAT
		                   , POLL_POST_CLOSING
		                   , EMP_INFO_NAME
		                   , JOB_INFO_NAME) A
		        where <![CDATA[ rownum <=]]>#{end}) X 
	<![CDATA[ where X.rnum >= ]]>#{start}
	</select>
	<resultMap type="hashMap" id="finishedMap"></resultMap>
	
	<!-- 내 설문 총 개수 조회(검색 적용) -->
	<select id="countTotalMyPost"  parameterType="pagination" resultType="int">
		select count(1) as cnt
		  from (select count(poll_post_code)
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_post_emp = #{empNo}
		                 and poll_post_name like '%${searchTitle}%'
		            group by poll_post_code)
	</select>
	
	<!-- 내 설문 조회(페이지/검색 적용) -->	
	<select id="myList" parameterType="pagination" resultMap="myMap">
		 select X.rnum
		      , X.poll_post_code
		      , X.POLL_POST_NAME
		      , X.POLL_POST_SDAT
		      , X.POLL_POST_EDAT   
		      , X.POLL_POST_CLOSING
		      , X.POLL_POST_QUST_ANSW_join_emp
		   from (select ROWNUM rnum
		          , A.poll_post_code
		          , A.POLL_POST_NAME
		          , A.POLL_POST_SDAT
		          , A.POLL_POST_EDAT   
		          , A.POLL_POST_CLOSING
		          , A.POLL_POST_QUST_ANSW_join_emp
		       from (select  poll_post_code
		                   , POLL_POST_NAME
		                   , to_char(POLL_POST_SDAT, 'YYYY-MM-DD') as POLL_POST_SDAT
		                   , to_char(POLL_POST_EDAT, 'YYYY-MM-DD') as POLL_POST_EDAT 
		                   , POLL_POST_CLOSING  
		                   , count(POLL_POST_QUST_ANSW_join_emp) as POLL_POST_QUST_ANSW_join_emp
		                from poll_post
		                join POLL_POST_QUST_ANSW on (poll_post_code = POLL_POST_QUST_ANSW_POST)
		           left join poll_post_qust_answ_join on (POLL_POST_QUST_ANSW_code = POLL_POST_QUST_ANSW_join_code and POLL_POST_QUST_ANSW_join_emp = #{empNo})
		                join poll_post_join on (poll_post_code = poll_join_post)
		               where poll_post_stat = 'Y'
		                 and poll_post_emp = #{empNo}
		                 and poll_post_name like '%${searchTitle}%'
		            group by poll_post_code          
		                   , POLL_POST_NAME
		                   , POLL_POST_SDAT
		                   , POLL_POST_EDAT
		                   , POLL_POST_CLOSING) A
		        where <![CDATA[ rownum <=]]>#{end}) X 
	<![CDATA[ where X.rnum >= ]]>#{start}
	</select>
	<resultMap type="hashMap" id="myMap"></resultMap>
		
	<select id="getQuestion" parameterType="map" resultMap="questionMap">
		 select poll_post_name
		      , emp_info_name
		      , job_info_name
		      , poll_post_wdat
		      , poll_post_sdat
		      , poll_post_edat
		      , poll_post_mod_admt
		      , poll_post_sec
		      , poll_post_cont
		      , poll_post_qust_code
		      , poll_post_qust_cont
		      , poll_post_qust_type
		      , poll_post_qust_lowtype
		      , POLL_POST_QUST_NECESS
		      , POLL_POST_QUST_LIMIT
		      , poll_post_qust_answ_cont
		   from poll_post
		   join emp_info on (poll_post_emp = emp_info_emp_no)
		   join job_info on (EMP_INFO_JOB_CODE = JOB_INFO_CODE)
		   join poll_post_qust on (poll_post_code = poll_post_qust_post)
		   join poll_post_qust_answ on (poll_post_qust_code = poll_post_qust_answ_qust)
		  where poll_post_code = #{postCode}
	</select>
	<resultMap type="hashMap" id="questionMap"></resultMap>
	
	
	
</mapper>