<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper라는 영역 안에 구문을 작성한다 - namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수) -->
<mapper namespace="projFile">

<select id="seq" resultType="string">
		select CONCAT('FILE', LPAD(ISSU_SEQ.CURRVAL, 6, 0)) from dual

</select>

<insert id="issFileInsert" parameterType="projFile">

insert into files(files_code, files_oname, files_cname, files_route, files_date, files_type, files_status, files_size)
values (#{files_code}, #{files_oname}, #{files_cname}, 'D:/resources/iss', SYSDATE, #{files_type}, #{files_status}, #{files_size})



</insert>

 
</mapper>