<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper라는 영역 안에 구문을 작성한다 - namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수) -->
<mapper namespace="project">



	<!-- proj list -->
	<select id="projMain" resultType="project"
		parameterType="project">
		select *
		from project p
		join emp_info e on (p.pro_manager
		= e.emp_info_emp_no)
		where pro_code in (select distinct iss_pro_code
		from iss i
		where iss_emp_no = #{emp_no}
		)
		order by pro_code desc
	</select>

	<select id="projIssMain" resultType="project"
		parameterType="project">
		select *
		from iss i
		join emp_info e on (i.iss_emp_no =
		e.emp_info_emp_no)
		join project p on (i.iss_pro_code = p.pro_code)
		join
		prog g on (i.iss_prog_code = g.prog_code)
		join situ s on
		(i.iss_situ_code = s.situ_code)
		where p.pro_code = #{pro_code}
		order by
		i.iss_code desc
	</select>


	<!-- 총 게시글 개수 -->
	<select id="projCount" resultType="int">
		select count(*)
		from project
	</select>


	<select id="projSelect" parameterType="projPaging"
		resultType="project">
		select *
		from (
		select rownum rn, a.*
		from (
		select *
		from
		project
		p
		join iss i on (p.pro_code = i.iss_pro_code)
		join emp_info e on
		(i.iss_emp_no = e.emp_info_emp_no)
		where i.iss_emp_no = #{iss_emp_no}
		order by pro_code desc
		) a
		)
		where rn between #{start} and
		#{end}

	</select>


	<!-- iss 내 정보 얻기 -->

	<select id="empNo" resultType="string" parameterType="string">
		select
		emp_info_emp_no
		from emp_info
		where emp_info_emp_no = #{emp_no}
	</select>

	<!-- member list -->
	<select id="projMember" resultType="project">
		select e.emp_info_emp_no,
		e.emp_info_name, d.dept_info_name
		from emp_info e
		join dept_info d
		on(e.emp_info_dept_code = d.dept_info_code)
	</select>

	<!-- insert -->
	<!-- project -->
	
	
	
	<select id="proGetPro" parameterType="project" resultType="string">
	select distinct p.pro_code
	from project p
	join iss i on (p.pro_code = i.iss_pro_code)
	where i.iss_pro_code =  #{iss_pro_code}
	</select>
	
	
	<insert id="projInsert" parameterType="project">
		INSERT INTO
		PROJECT(PRO_CODE, PRO_MANAGER, PRO_TITLE, PRO_INTRO, PRO_SDATE,
		PRO_EDATE, PRO_STAT, PRO_WDATE)
		VALUES(CONCAT('PROJ',
		LPAD(PROJ_SEQ.NEXTVAL, 6,
		0)), #{pro_manager}, #{pro_title},
		#{pro_intro}, #{pro_sdate},
		#{pro_edate}, DEFAULT, SYSDATE)

	</insert>

	<select id="issProg" resultType="project">
		select *
		from prog
	</select>

	<select id="issSitu" resultType="project">
		select *
		from situ
	</select>

	<select id="issMember" resultType="project">
		select e.emp_info_emp_no,
		e.emp_info_name, d.dept_info_name
		from emp_info e
		join dept_info d
		on(e.emp_info_dept_code = d.dept_info_code)
	</select>



	<select id="sysproj" resultType="string">
		select pro_code

		from(

		select
		pro_code

		from project

		order by pro_wdate DESC

		)

		where ROWNUM = 1



	</select>

	<select id="issSeq" resultType="String">
		select
		CONCAT('ISS',LPAD(ISSU_SEQ.NEXTVAL, 6, 0)) from dual
	</select>

	<select id="projSeq" resultType="string">
		select
		CONCAT('PROJ',LPAD(ISSU_SEQ.NEXTVAL, 6, 0)) from dual
	</select>

	<insert id="proIssInsert" parameterType="project">
		INSERT INTO
		ISS(ISS_CODE, ISS_EMP_NO, ISS_TITLE, ISS_PRO_CODE,
		ISS_PROG_CODE,
		ISS_SITU_CODE, ISS_CONT, ISS_WDAT)
		VALUES(CONCAT('ISS',
		LPAD(ISSU_SEQ.NEXTVAL, 6, 0)), #{iss_emp_no}, #{iss_title},
		#{iss_pro_code}, #{iss_prog_code},
		#{iss_situ_code}, #{iss_cont},
		SYSDATE)
	</insert>




	<insert id="projInsertIss" parameterType="project">
		INSERT INTO
		ISS(ISS_CODE, ISS_EMP_NO, ISS_TITLE, ISS_PRO_CODE,
		ISS_PROG_CODE,
		ISS_SITU_CODE, ISS_CONT, ISS_WDAT)
		VALUES(CONCAT('ISS',
		LPAD(ISSU_SEQ.NEXTVAL, 6, 0)), #{iss_emp_no}, #{iss_title} ,
		#{iss_pro_code}, #{iss_prog_code},
		#{iss_situ_code}, #{iss_cont},
		SYSDATE)

	</insert>
	<!-- file upload -->


	<!-- proj list -->
	<select id="projissAll" resultType="project"
		parameterType="project">
		select *
		from iss i
		join emp_info e on (i.iss_emp_no
		=
		e.emp_info_emp_no)
		join project p on (i.iss_pro_code = p.pro_code)
		join
		prog g on (i.iss_prog_code = g.prog_code)
		join situ s on
		(i.iss_situ_code = s.situ_code)
		where iss_emp_no =
		#{emp_no}

		order by
		iss_code desc
	</select>


	<!-- proj Detail -->
	<select id="projDetail" resultType="project"
		parameterType="string">
		select *
		from project p
		join emp_info e on (p.pro_manager
		= e.emp_info_emp_no)

		where pro_code = #{pro_code}

	</select>
	<select id="projDetail2" resultType="project"
		parameterType="string">
		select *
		from project p
		join iss i on (i.iss_pro_code =
		p.pro_code)
		join prog g on (i.iss_prog_code = g.prog_code)
		join situ s
		on (i.iss_situ_code = s.situ_code)
		join emp_info e on (i.iss_emp_no =
		e.emp_info_emp_no)
		where pro_code = #{pro_code}

	</select>
	<select id="projDetail3" resultType="projFile"
		parameterType="string">
	  select *
  from files f
  join project p on (f.files_type = p.pro_code)
  join iss i on (p.pro_code = i.iss_pro_code)
  join emp_info e on (i.iss_emp_no = e.emp_info_emp_no)
  where f.files_type = #{pro_code}

	</select>



	<select id="projMemberlist" resultType="project"
		parameterType="string">
		select distinct i.iss_emp_no, e.emp_info_name
		from iss i
		join project p on (i.iss_pro_code = p.pro_code)
		join emp_info e on (i.iss_emp_no
		= e.emp_info_emp_no)
		where p.pro_code = #{pro_code}

	</select>

	<!-- 정치적 중립선 -->
	<select id="projKanban" resultType="project">
		select *
		from project pr
		join
		iss i on (i.iss_pro_code = pr.pro_code)
		join
		emp_info e on(i.iss_emp_no
		= e.emp_info_emp_no)
		join prog p on
		(i.iss_prog_code = p.prog_code)
		join
		situ s on (i.iss_situ_code =
		s.situ_code)
		order by pr.pro_code desc

	</select>


	<select id="projTodo" resultType="project">
		select *
		from project pr
		join iss
		i on (i.iss_pro_code = pr.pro_code)
		join
		emp_info e on(i.iss_emp_no =
		e.emp_info_emp_no)
		join prog p on
		(i.iss_prog_code = p.prog_code)
		join
		situ s on (i.iss_situ_code =
		s.situ_code)
		order by pr.pro_code desc

	</select>


<select id="projGetIss" parameterType="string" resultType="project">
  select *
    from project p 
    join iss i on (p.pro_code = i.iss_pro_code)
    where pro_code = #{pro_code}


</select>


<select id="projIssDetail" parameterType="string" resultType="projFile">

  select *
  from iss i 
  join project p on (i.iss_pro_code = p.pro_code)
  join emp_info e on (i.iss_emp_no = e.emp_info_emp_no)
  join dept_info d on (e.emp_info_dept_code = d.dept_info_code)
  where iss_code = #{iss_code}

</select>


</mapper>