<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper라는 영역 안에 구문을 작성한다 - namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수) -->
<mapper namespace="projFile">

<select id="seq" resultType="string">
		select CONCAT('PRFI', LPAD(PRFI_SEQ.NEXTVAL, 6, 0)) from dual

</select>

<insert id="issFileInsert" parameterType="projFile">

insert into pro_files(pro_files_code, pro_files_oname, pro_files_cname, pro_files_route, pro_files_date, pro_files_proj, pro_files_iss, pro_files_size, pro_files_emp)
values (#{pro_files_code}, #{pro_files_oname}, #{pro_files_cname}, 'D:/resources/iss', SYSDATE, #{pro_files_proj}, #{pro_files_iss}, #{pro_files_size}, #{pro_files_emp})



</insert>


<select id="proFileFind" resultType="projFile" parameterType="String">

select *
 from pro_files
where pro_files_code = #{pro_files_code}

</select>

 
</mapper>