<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper라는 영역 안에 구문을 작성한다 - namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수) -->
<mapper namespace="project">



<!--  proj list -->
	<select id="projMain" resultType="project">
	select *
		from project pr
		join emp_info e on(pr.pro_manager = e.emp_info_emp_no)<!-- 참가인원수 카운팅? 도전 -->
		 <!-- 프젝관련 단계별 숫자? -->
		order by pr.pro_code desc
	</select>
	
	<select id="projIssMain" resultType="project">
	select *
	from iss i
	join emp_info e on (i.iss_emp_no = e.emp_info_emp_no)
	join project p on (i.iss_pro_code = p.pro_code)
	join progress g on (i.iss_prog_code = g.prog_code)
	join situ s on (i.iss_situ_code = s.situ_code)
	where p.pro_code = #{pro_code}
	</select>
	
	

	<select id="projKanban" resultType="project">
	select *
		from project pr
		join iss i on (i.iss_pro_code = pr.pro_code)
		join emp_info e on(i.iss_emp_no = e.emp_info_emp_no)
		join prog p on (i.iss_prog_code = p.prog_code)
		join situ s on (i.iss_situ_code = s.situ_code)
		order by pr.pro_code desc
	
	</select>


<select id="projTodo" resultType="project">
	select *
		from project pr
		join iss i on (i.iss_pro_code = pr.pro_code)
		join emp_info e on(i.iss_emp_no = e.emp_info_emp_no)
		join prog p on (i.iss_prog_code = p.prog_code)
		join situ s on (i.iss_situ_code = s.situ_code)
		order by pr.pro_code desc
	
	</select>
</mapper>