<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="sch">

	<select id="selectList" parameterType="String"  resultType="sch_unit">
		select *
 		  from sch_unit
		  join sch_unit_join on (sch_unit_code = sch_join_code)
 		 where sch_join_emp = #{id}
	</select>
	
	<select id="selectMap" parameterType="String" resultMap="selectMapList">
		select sch_unit_code,
			   sch_unit_name,
			   decode(sch_unit_aday, 'Y', 'true', 'false') as sch_unit_aday,
			   sch_unit_sdat,
			   sch_unit_edat,
			   SCH_UNIT_RPT,
			   SCH_UNIT_ERPT,
			   SCH_UNIT_CONT,
			   SCH_UNIT_SEC,
			   SCH_UNIT_STAT,
			   SCH_UNIT_EMP,
			   SCH_UNIT_WDAT,
			   SCH_UNIT_MDAT,
			   sch_join_emp
 		  from sch_unit
		  join sch_unit_join on (sch_unit_code = sch_join_code)
 		 where sch_join_emp = #{id}
 		   and sch_unit_stat = 'Y'
	</select>
	
	<resultMap type="schAjax" id="selectMapList">
		<result column="sch_unit_code" property="id"/>
		<result column="sch_unit_name" property="title"/>
		<result column="sch_unit_aday" property="allDay"/>
		<result column="sch_unit_sdat" property="start"/>
		<result column="sch_unit_edat" property="end"/>
		<result column="SCH_UNIT_RPT" property="SCH_UNIT_RPT"/>
		<result column="SCH_UNIT_ERPT" property="SCH_UNIT_ERPT"/>
		<result column="SCH_UNIT_CONT" property="SCH_UNIT_CONT"/>
		<result column="SCH_UNIT_SEC" property="SCH_UNIT_SEC"/>
		<result column="SCH_UNIT_STAT" property="SCH_UNIT_STAT"/>
		<result column="SCH_UNIT_EMP" property="SCH_UNIT_EMP"/>
		<result column="SCH_UNIT_WDAT" property="SCH_UNIT_WDAT"/>
		<result column="SCH_UNIT_MDAT" property="SCH_UNIT_MDAT"/>
		
	</resultMap>
	
	<select id="selectMap_min" parameterType="String" resultMap="selectMapList_min">
		select sch_unit_code,
			   sch_unit_name,
			   decode(sch_unit_aday, 'Y', 'true', 'false') as sch_unit_aday,
			   sch_unit_sdat,
			   sch_unit_edat
 		  from sch_unit
		  join sch_unit_join on (sch_unit_code = sch_join_code)
 		 where sch_join_emp = #{id}
 		   and sch_unit_stat = 'Y'
 		   	
	</select>
	
	<resultMap type="schAjax_min" id="selectMapList_min">
		<result column="sch_unit_code" property="id"/>
		<result column="sch_unit_name" property="title"/>
		<result column="sch_unit_aday" property="allDay"/>
		<result column="sch_unit_sdat" property="start"/>
		<result column="sch_unit_edat" property="end"/>
		
	</resultMap>
</mapper>