<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="sch">
	<!-- 내 일정 가져오기 -->
	<select id="selectList" parameterType="String"  resultType="sch_unit">
		select *
 		  from sch_unit
		  join sch_unit_join on (sch_unit_code = sch_join_code)
 		 where sch_join_emp = #{id}
	</select>
	
	<select id="selectMap" parameterType="map" resultMap="selectMapList">
		select sch_unit_code,
			   sch_unit_name,
			   sch_unit_aday,
			   sch_unit_sdat,
			   sch_unit_edat,
			   SCH_UNIT_RPT,
			   SCH_UNIT_ERPT,
			   SCH_UNIT_CONT,
			   SCH_UNIT_SEC,
			   SCH_UNIT_STAT,
			   SCH_UNIT_WRTR,
			   SCH_UNIT_WDAT,
			   SCH_UNIT_MDAT,
			   SCH_UNIT_HUE,
			   sch_join_emp,
			   emp_info_name,
			   sch_unit_group_code,
			   sch_group_name
 		  from sch_unit
		  join sch_unit_join on (sch_unit_code = sch_join_code)
		  join emp_info on (sch_unit_wrtr = emp_info_emp_no)
		  join sch_group on (sch_unit_group_code = sch_group_code)
 		 where sch_join_emp = #{id}
 		   and sch_unit_stat = 'Y'
 		   and (sch_unit_sdat between #{start} and #{end}
 		   or sch_unit_edat between #{start} and #{end}) 		   
	</select>
	
	<resultMap type="schAjax" id="selectMapList">
		<result column="sch_unit_code" property="id"/>
		<result column="sch_unit_name" property="title"/>
		<result column="sch_unit_aday" property="allDay"/>
		<result column="sch_unit_sdat" property="start"/>
		<result column="sch_unit_edat" property="end"/>
		<result column="SCH_UNIT_RPT" property="repeat"/>
		<result column="SCH_UNIT_ERPT" property="endRepeat"/>
		<result column="SCH_UNIT_CONT" property="content"/>
		<result column="SCH_UNIT_SEC" property="security"/>
		<result column="SCH_UNIT_STAT" property="stat"/>
		<result column="SCH_UNIT_WRTR" property="writer"/>
		<result column="SCH_UNIT_WDAT" property="writeDate"/>
		<result column="SCH_UNIT_MDAT" property="modifyDate"/>
		<result column="SCH_UNIT_HUE" property="backgroundColor"/>
		<result column="emp_info_name" property="writerName"/>
		<result column="sch_group_name" property="groupName"/>
		
	</resultMap>
	
	<!-- 휴가일정 가져오기 -->
	<select id="selectVacationMap" parameterType="map" resultMap="selectVacationMapList">
		select emp_info_name
			  ,(select job_info_name
				  from job_info
				 where job_info_code = (select emp_info_job_code
				 				  	 from emp_info
				 				  	where emp_info_emp_no = #{id}
				 				  )
			   ) as job_info_name
			  ,ANVA_HSTR_ORDR
			  ,ANVA_HSTR_TYPE
			  ,ANVA_HSTR_SDAT
			  ,ANVA_HSTR_EDAT
			  ,ANVA_HSTR_CONT
		  from anva_hstr
		  join emp_info on (anva_hstr_emp_no = emp_info_emp_no)
		 where ANVA_HSTR_CONF = 'Y'
		   and ANVA_HSTR_EMP_NO = #{id}
 		   and (ANVA_HSTR_SDAT between #{start} and #{end}
 		   or ANVA_HSTR_EDAT between #{start} and #{end}) 			   
	</select>
	<resultMap type="schAjax" id="selectVacationMapList">
		<result column="ANVA_HSTR_ORDR" property="id"/>
		<result column="emp_info_name" property="title"/>
		<result column="ANVA_HSTR_SDAT" property="start"/>
		<result column="ANVA_HSTR_EDAT" property="end"/>
		<result column="ANVA_HSTR_CONT" property="content"/>
		<result column="job_info_name" property="jobName"/>
	</resultMap>
	
	<!-- 일정 참여자 가져오기 -->
 	<select id="selectEntryList" parameterType="String" resultMap="selectEntryMap">
		select emp_info_name
			  ,emp_info_emp_no
		  from sch_unit_join
		  join emp_info on (sch_join_emp = emp_info_emp_no)
		 where sch_join_code = #{id} 
	</select>
	<resultMap type="hashMap" id="selectEntryMap">
	</resultMap>
	
	<!-- insert -->
	<select id="seq" resultType="String">
		select schn_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="map">
		Insert into SCH_UNIT (SCH_UNIT_CODE
							 ,SCH_UNIT_NAME
							 ,SCH_UNIT_SDAT
							 ,SCH_UNIT_EDAT
							 ,SCH_UNIT_ADAY
							 ,SCH_UNIT_CONT
							 ,SCH_UNIT_WDAT
							 ,SCH_UNIT_STAT
							 ,SCH_UNIT_WRTR
							 ,SCH_UNIT_HUE
							 ,SCH_UNIT_GROUP_CODE) values ('SCHN'||TRIM(TO_CHAR(#{seq},'000000'))
							 					   ,#{title}
							 					   ,to_date(#{start},'RRMMDDHH24MISS')
							 					   ,to_date(#{end},'RRMMDDHH24MISS')
							 					   ,#{allDay}
							 					   ,#{content}
							 					   ,sysdate
							 					   ,'Y'
							 					   ,#{id}
							 					   ,#{backgroundColor}
							 					   ,#{groupCode})
	</insert>
	
	
	<insert id="insertJoinTable" parameterType="map">
		insert into sch_unit_join values('SCHN'||TRIM(TO_CHAR(#{seq},'000000')), #{id})
	
	</insert>
	
	<!-- 삭제를 담당하는 update -->
	<update id="delete" parameterType="String">
		update sch_unit set sch_unit_stat = 'N' where sch_unit_code = #{value}
	</update>	
	
	<update id="update" parameterType="map">
		update sch_unit set sch_unit_name = #{title}
						  , sch_unit_sdat = to_date(#{start},'RRMMDDHH24MISS')
						  , sch_unit_edat = to_date(#{end},'RRMMDDHH24MISS')
						  , sch_unit_aday = #{allDay}
						  , sch_unit_hue  = #{backgroundColor}
						  , sch_unit_cont = #{content}
						  , sch_unit_mdat = default
						  , sch_unit_group_code = #{groupCode}
					  where sch_unit_code = #{code}
	</update>
	
</mapper>