<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="schedule">
<!-- 	
	<resultMap type="map" id="sch_map">
		<result column="sch_unit_name" property="title"/>
		<result column="sch_unit_sdat" property="start"/>
		<result column="sch_unit_edat" property="end"/>
	</resultMap>
	
	<select id="selectMap" resultMap="sch_map">
		select sch_unit_name, sch_unit_sdat, sch_unit_edat from sch_unit
	</select>
 -->

	
	
</mapper>