<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	web.xml은 서버(WAS)가 운영하기 위한 내용을 작성
	- 자바 기반의 웹 애플리케이션이라면 무조건 있어야 함(jsp/spring/...)
	- xmlns : xml namespace의 줄임말. 태그 정보를 제공
 -->

<web-app version="4.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 
		전역(global) 설정 파일을 지정
		- 스프링 전체에 영향을 미치는 설정
		- 이름은 무조건 contextConfigLocation 이라고 작성
		- 요청처리와 상관없는 설정이 들어감
		- 데이터베이스 or 이메일발송 등 ...
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	
	<!-- 
		여러개로 나누어진 설정파일들을 연결해주는 도구
		단, 반드시 전역설정이 서블릿설정보다 상위에 존재한다 
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 
		Spring에서 사용자의 모든 요청을 처리하는 핵심(core) 서블릿
		= 중앙 제어 서블릿(요청처리,교통정리,콜센터,분배기)
		= 만드려면 난이도가 너무 높아서 스프링에서 사용하도록 만들어서 제공
		이름 : appServlet
		클래스 : org.springframework.web.servlet.DispatcherServlet
		초기설정 : 
			- 설정파일 : servlet-context.xml
			
		mapping pattern
			/		전부다(원한다면 제외 수 있음, 나머지 전부다)
			/*		전부다(하나도 빠짐없이)
			*.me	위치 상관없이 .me로 끝나는 주소
	-->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 한글설정 [S] --> 
	<filter> 
		<filter-name>encodingFilter</filter-name> 
		<filter-class> org.springframework.web.filter.CharacterEncodingFilter </filter-class> 
		<init-param> 
			<param-name>encoding</param-name> 
			<param-value>UTF-8</param-value> 
		</init-param> 
		<init-param> 
			<param-name>forceEncoding</param-name> 
			<param-value>true</param-value> 
		</init-param> 
	</filter> 
	<filter-mapping> 
		<filter-name>encodingFilter</filter-name> 
		<url-pattern>/*</url-pattern> 
	</filter-mapping> 
	<!-- 한글설정 [E] -->
</web-app>