html {
	background:#C5D4E7;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein {
    from {opacity:0;}
    to {opacity: 1;}
}

body {
	animation: fadein 1000ms ease-out;
    -moz-animation: fadein 1000ms ease-out;
    -webkit-animation: fadein 1000ms ease-out;
    -o-animation: fadein 1000ms ease-out;
}
.wrap {
}

.loginBox {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	margin-top: -250px;
	margin-left: -150px;
	width: 300px;
	height: 500px;
	background: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

.row0{
	height: 20px;
}

.row1{
	width: 300px;
	height: 30px;
	background: #DBE5F1;
	text-align: right;
	font-size: 12px;
	font-weight: bolder;
	line-height: 30px;
}

.imgSize1{
	width: 20px;
	height: 20px;
}

.row2{
	width: 300px;
	height: 60px;
	text-align: left;
	font-size: 24px;
	font-weight: bolder;
	line-height: 60px;
}

.row3{
	width: 300px;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
}

.row4{
	width: 300px;
	height: 25px;
	text-align: left;
	font-size: 12px;
	line-height: 25px;
}

.imgSize2 {
	width: 30px;	
	height: 30px;
}

.row5{
	width: 300px;
	height: 30px;
	font-size: 18px;
	font-weight: bolder;
	line-height: 30px;
}

.row6{
	width: 300px;
	height: 50px;
}

.input{
	width: 270px;
	height: 35px;
	border: 2px solid #747EA9;
	background: #E8F0FD;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.input:hover {
	border: 3px solid #747EA9;
}

.row7{
	width: 300px;
	height: 30px;
	text-align: left;
	font-size: 11px;
	line-height: 30px;
	text-decoration: underline;
}

.submit {
	width: 276px;
	height: 40px;
	border: none;
	background: #91B9ED;
	outline: none;
	font-size: 14px;
	font-weight: bolder;
	fort-family: inherit;
	cursor: pointer;
}

.submit:hover {
	background: #0059A1;
	color: white;
}

.row8 {
	width: 300px;
	height: 45px;
	background: #DBE5F1;
	line-height: 45px;
	font-size: 12px;
	text-decoration: underline;
}

p {
	color: white;
	align: center;
	background: #0059A1;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}

