.menuLeftBar {
	width: 180px;
	height: 100vh;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #5DA6DC);
	background: linear-gradient(to right, #0072C6, #5DA6DC);
}

.menuLeftListTop {
	width: 180px;
	height: 300px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuPhoto {
	margin-left: 10px;
	width: 160px;
	height: 180px;
	background: white;
	border-radius: 5px;
}

.imgSize1{
	padding-top: 1.5rem;
	width: 128px;
	height: 128px;
}

.menuLeftListTitle {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: white;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #0059A1);
	background: linear-gradient(to right, #0072C6, #0059A1);
}

.menuLeftList0 {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 16px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftListBtn {
	width: 180px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftList {
	width: 180px;
	height: 40px;
	padding-left: 2rem;
	line-height: 40px;
	text-align: left;
	font-size: 14px;
	font-weight: bolder;
	color: white;
	background: none;
}

.menuLeftList:hover {
	width: 150px;
	background: #0072C6;
	background: -webkit-linear-gradient(to right, #0072C6, #F1F9FF);
	background: linear-gradient(to right, #0072C6, #F1F9FF);
}

.menuLeftBtn {
	width: 130px;
	height: 35px;
	border: 1px solid black;
	border-radius: 5px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.menuLeftBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

.leftBar {
	float: left;
}

.leftBar.fixed {
	position: fixed;
	left: 0px;
	top: 0px;
}


/* 시계 css */
.clock{
	text-align: center;
	font-size: small;
	line-height: normal;
}

.startWork{
	font-size: small;
}