/* 조직도 버튼 */
.organChartBorder{
	box-sizing: border-box;
	position:fixed;
	
	bottom: 0px;
	left: 0px;
	
	width: 180px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background: rgba(0,0,0,0);
}

.organChartBorder .organChartBtn{
	display: table;
	width: 80%;
	height: 55%;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 0.5rem;
	
	color: white;
	
	text-align: center;
}

.organChartBorder .organChartBtn:hover{
	border: 1px solid rgba(255,255,255,1);
}

/* 패널영역 */

.organPanel{
	display: none;
	position: fixed;
	left: 80px;
	bottom: 2.2rem;
	width: 15vw;
	height: 50vh;
	background: white;
	border: 1px solid #0072C6;
	border-radius: 0.2rem;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
	
	font-size: small;
}

.organPanel .topPanel{
	box-sizing: border-box;
	width: 100%;
	display: table;
	padding: 0.5rem;
	padding-top: 1rem;
}

.organPanel .topPanel .search{
	display: table-cell;
}

.search > input[type=text]{
	width: 90%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.search > input[type=text]:focus{
	outline: none;
}
	
.organPanel .topPanel .closeBtnArea{
	display: table-cell;
	text-align: right;
}

.organPanel .members{
	box-sizing: border-box;
	
	with: 95%;
	height:85%;
	padding-left: 2rem;
	overflow: auto;
}

.organPanel ul,
.organPanel li{
	list-style: none;
	padding: 0.2rem;
}

.organPanel ul li ul{
	padding-left: 2rem;
}
