/* 조직도 버튼 */
.organChartBorder{
	box-sizing: border-box;
	position:fixed;
	
	bottom: 0px;
	left: 0px;
	
	width: 180px;
	height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background: rgba(0,0,0,0);
}

.organChartBorder .organChart{
	display: table;
	width: 80%;
	height: 55%;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 0.5rem;
	
	color: white;
	
	text-align: center;
}

.organChartBorder .organChart:hover{
	border: 1px solid rgba(255,255,255,1);
}

/* 패널영역 */

.organPanel{
	position: fixed;
	left: 80px;
	bottom: 2.2rem;
	width: 15vw;
	height: 50vh;
	background: white;
	border: 1px solid red;
}

.organPanel .topPanel{
	box-sizing: border-box;
	width: 100%;
	display: table;
	padding: 0.5rem;
	padding-top: 1rem;
}

.organPanel .topPanel .search{
	display: table-cell;
}

.search > input[type=text]{
	width: auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.search > input[type=text]:focus{
	outline: none;
}
	
.organPanel .topPanel .closeBtnArea{
	display: table-cell;
	text-align: right;
	padding-right: 1rem;
}

.organPanel .members{
	box-sizing: border-box;
	
	with: 95%;
	height:85%;
	padding-left: 2rem;
	overflow: auto;
	border: 1px solid yellow;
}

.organPanel ul,
.organPanel li{
	list-style: none;
	padding: 0.2rem;
}

.organPanel ul li ul{
	padding-left: 2rem;
}
