<?xml version="1.0" encoding="UTF-8" ?>

<!-- 이 설정파일은 스프링의 도움 없이 마이바티스를 독자적으로 사용할 때 필요한 설정파일 -->

<!-- DTD 선언 : 문서의 유형을 정의하고 사용 가능한 태그 정보를 로드 -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	  <settings> <setting name="jdbcTypeForNull" value="NULL" /> </settings>
	<!-- 
		별칭 부여 공간 : 클래스의 전체 경로를 별칭을 부여하여 편하게 호출하도록 설정
	 -->
	<typeAliases>
		<!-- <typeAlias type="클래스 전체 경로" alias="별칭"/> -->
		<typeAlias type="com.kh.circle.post.entity.Post" alias="post"/>
		<typeAlias type="com.kh.circle.post.entity.PostPaging" alias="postPaging"/> 
		<typeAlias type="com.kh.circle.post.entity.PostSearch" alias="postSearch"/> 
		<typeAlias type="com.kh.circle.post.entity.PostReply" alias="postReply"/> 
		<typeAlias type="com.kh.circle.post.entity.PostType" alias="postType"/> 
 

   		<typeAlias type="com.kh.circle.project.entity.Project" alias="project"/>
   		<typeAlias type="com.kh.circle.project.entity.ProjPaging" alias="projPaging"/>



   		
   		<typeAlias type="com.kh.circle.issue.entity.Iss" alias="iss"/>
   		<typeAlias type="com.kh.circle.issue.entity.IssRepl" alias="issRepl"/>
   		<typeAlias type="com.kh.circle.issue.entity.Prog" alias="prog"/>
   		<typeAlias type="com.kh.circle.issue.entity.Situ" alias="situ"/>
   		<typeAlias type="com.kh.circle.issue.entity.JoinMem" alias="joinMem"/>
    
		<typeAlias type="com.kh.circle.login.entity.EmpInfo" alias="empInfo"/>	
		<typeAlias type="com.kh.circle.login.entity.JoinMember" alias="joinMember"/>

		<typeAlias type="com.kh.circle.comu.entity.Comu" alias="comu"/>
		<typeAlias type="com.kh.circle.comu.entity.ComuInfo" alias="comuInfo"/>
		<typeAlias type="com.kh.circle.comu.entity.ComuList" alias="comuList"/>
		<typeAlias type="com.kh.circle.comu.entity.ComuRepl" alias="comuRepl"/>
		
		
		<typeAlias type="com.kh.circle.schedule.entity.Sch_unit" alias="sch_unit"/>
		<typeAlias type="com.kh.circle.schedule.entity.SchAjax" alias="schAjax"/>
		<typeAlias type="com.kh.circle.schedule.entity.SchAjaxEntry" alias="schAjaxEntry"/>

		<typeAlias type="com.kh.circle.poll.entity.Pagination" alias="pagination"/>

		<typeAlias type="com.kh.circle.sign.entity.Sign" alias="sign"/>
		<typeAlias type="com.kh.circle.sign.vo.SignList" alias="signList"/>
		<typeAlias type="com.kh.circle.sign.vo.SignListJoiner" alias="signListJoiner"/>
		<typeAlias type="com.kh.circle.sign.vo.SignSelectOne" alias="signSelectOne"/>
		<typeAlias type="com.kh.circle.sign.vo.SignWrite" alias="signWrite"/>	
		<typeAlias type="com.kh.circle.sign.vo.SignType" alias="signType"/>
		<typeAlias type="com.kh.circle.sign.vo.SignTypeContent" alias="signTypeContent"/>
		<typeAlias type="com.kh.circle.sign.vo.SignEmpList" alias="signEmpList"/>
		<typeAlias type="com.kh.circle.sign.vo.SignWriteInsert" alias="signWriteInsert"/>		
		<typeAlias type="com.kh.circle.sign.vo.SignModify" alias="signModify"/>
		<typeAlias type="com.kh.circle.sign.vo.SignFiles" alias="signFiles"/>
		<typeAlias type="com.kh.circle.sign.vo.SignReply" alias="signReply"/>
		<typeAlias type="com.kh.circle.sign.vo.SignJoinerCount" alias="signJoinerCount"/>

		
		<typeAlias type="com.kh.circle.attendance.entity.AttendanceInfo" alias="attendanceInfo"/>
		<typeAlias type="com.kh.circle.attendance.entity.WeekStackInfo" alias="weekStackInfo"/>

		<typeAlias type="com.kh.circle.empInfo.entity.EmpInfoAll" alias="empInfoAll"/>
		<typeAlias type="com.kh.circle.empInfo.entity.CertificateInfo" alias="crtfInfo"/>
		<typeAlias type="com.kh.circle.empInfo.entity.CareerInfo" alias="careerInfo"/>
		<typeAlias type="com.kh.circle.empInfo.entity.RewardDiscipline" alias="rewardDisciplineInfo"/>
		<typeAlias type="com.kh.circle.empInfo.entity.HREvaluation" alias="hREvaluation"/>
		<typeAlias type="com.kh.circle.empInfo.entity.InfoModify" alias="infoModify"/>
		
		<typeAlias type="com.kh.circle.vacation.entity.Vacation" alias="vacation"/>
		<typeAlias type="com.kh.circle.vacation.entity.VacationInfo" alias="vacationInfo"/>
			
		<typeAlias type="com.kh.circle.organChart.entity.OrganDept" alias="organDept"/>
		<typeAlias type="com.kh.circle.organChart.entity.OrganEmp" alias="organEmp"/>
		
		<typeAlias type="com.kh.circle.addressBook.entity.AddressInfo" alias="addressInfo"/>
		<typeAlias type="com.kh.circle.addressBook.entity.PagingInfo" alias="pagingInfo"/>
	</typeAliases>

	<!-- 
		environments : 
			사용환경에 대한 정의. 개발/배포환경을 구분하기 위해 사용
			만약 스프링에 연동시키면 이 부분은 생략이 가능 
	-->
	<environments default="development">
	
		<!-- 개발용 환경 -->
		<environment id="development">
			
			<!-- 데이터베이스 커밋/롤백을 자동으로 수행 -->
			<transactionManager type="JDBC" />
			
			<!-- 
				데이터베이스 연결정보(스프링과 연동되면 필요가 없음) 
				- POOLED : DBCP 방식(개수 제한 관리)
				- UNPOOLED : 일반 방식(신규 생성)
			-->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="circle" />
				<property name="password" value="circle" />
			</dataSource>
		</environment>
		
	</environments>
	
	<!-- 
		Mapper란 sql 명령만 가지고 있는 파일을 말함
		- mappers는 mapper 파일의 위치를 지정
	 -->
	<mappers>
	
	</mappers>

</configuration>