body {
	overflow-x:hidden;
}

.organChart{
	position:absolute;
	z-index:99;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

/* 추가 css 영역 */
a{
	text-decoration: none;
	color: inherit;
}

td {
	vertical-align: middle;
}

.content{
	padding: 1rem;
	vertical-align: middle;
}

.title{
	width:100%;
}

form{
	vertical-align: middle;
}

form > .totalNumber{
	display:inline-block;
	float: left;
}

form > .insertInfo{
	margin-left: 1rem;
	display: inline-block;
	transform: translateY(-3px);
}

form > select{
	display: inline-block;
	float: right;
}

.infoList{
	font-size: small;
}

.infoListTable{
	width: 100%;
}

.infoListTable th,
.infoListTable td{
	border:1px solid rgba(0,0,0,0.1);
	padding: 0.5rem;
	vertical-align: middle;
	text-align: center;
}

.infoListTable th{
	font-weight: bold;
}



.changeBtn{
	font-size: medium;
	widht:100%;
	text-align: center;
}

.changeBtn span:hover{
	cursor: pointer;
}

.selectedNum{
	font-size: 2rem;
	font-weight: bold;
	color: #0072C6;
}

.selectedIndex{
	box-sizing: border-box;
	background: #0072C6;
	border: 1px solid  #0072C6;
	color: white;
}
