body {
	overflow-x:hidden;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

/* 추가 css 영역 */
a{
	text-decoration: none;
	color: inherit;
}

td {
	vertical-align: middle;
}

.content{
	padding: 1rem;
	vertical-align: middle;
}

.selectDate{
	width: 100%;
	text-align: center;
}

.searchArea{
	font-size: small;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.searchArea > div{
	display: inline-block;
	padding: 1rem;
}

.searchArea > div > input[type=text]{
	width: 5rem;
}

.vacationList{
	width: 100%;
	padding: 1rem;
	font-size: small;
}

.vacationList > div{
	display: inline-block;
	margin: 1rem;
	vertical-align: middle;
}

.vacationList > .listMaxNumber{
	float: right;
}

.vacationListTable{
	width:100%;
}

.vacationListTable th,
.vacationListTable td{
	text-align: center;
	padding: 0.5rem;
}

.vacationListTable th{
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.vacationListTable td{
	border-bottom: 1px dashed rgba(0,0,0,0.1);
}




















