body {
	overflow-x:hidden;
}

.organChart{
	position:absolute;
	z-index:99;
}

.container {
	position: absolute;
	left: 180px;
	width: calc(100% - 180px);
}

.homeListBar {
	width: auto;
	min-width: 900px;
	height: 30px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #F7F7F7, #FFFFFF);
	background: linear-gradient(to top, #F7F7F7, #FFFFFF);
	border: 1px solid lightgrey;
}

.homeListBtn {
	margin-left: 20px;
	margin-top: 2px;
	float: left;
	width: 100px;
	height: 25px;
	cursor: pointer;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 3px;
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #D8D8D8, #FFFFFF);
	background: linear-gradient(to top, #D8D8D8, #FFFFFF);
}

.homeListBtn:hover {
	background: #D8D8D8;
	background: -webkit-linear-gradient(to top, #FFFFFF, #D8D8D8);
	background: linear-gradient(to top, #FFFFFF, #D8D8D8);
}

/* 추가 css 영역 */
a{
	text-decoration: none;
	color: inherit;
}

td{
	vertical-align: middle;
}

.content{
	padding: 1rem;
	font-size:small;
	vertical-align: middle;
}

.title{
	display: table;
	width:100%;
}

.summary{
	text-align: center;
}

.summaryTable{
	font-size: small;
	width: 100%;
	padding: 1rem;
}

.summaryTable td{
	color: #0072C6;
	font-size: large;
	padding: 0.5rem;
	border-right: 1px dashed rgba(0,0,0,0.5);
}

.summaryTable th{
	padding-bottom: 0.5rem;
}

.summaryTable td:last-of-type{
	border-right: 0;
}

.vacationHistory,
.vacationHistoryTable,
.vacationApplyTable{
	width: 100%;
	font-size:small;
}

.vacationHistoryTable th,
.vacationHistoryTable td{
	padding: 0.5rem;
	text-align: center;
}

.vacationHistoryTable td{
	border:1px solid rgba(0,0,0,0.1);
}

.vacationHistoryTable th{
	border:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.5);
}

.vacationApplyTable td{
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.1);
	padding: 0.5rem;
}

#calcDate{
	width:30px;
}

#permissionStatus{
	width: 80px;
	text-align: center;
}

.vacationApplyTable td textarea{
	width: 100%;
	height: 50px;
	resize: none;
	overflow: auto;
}

.vacationApplyTable td textarea:focus{
	outline: none;
}

.selectBtn{
	text-align: right;
	padding-right: 1rem;
}
